public/dashboard-order-10.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Title</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
  </head>
  <body>
    <div class="cabinet__wrapper">
        <div class="header header--inner">
          <div class="container header__container">
            <div class="header__wrapper">
              <div class="header__left"><a class="logo header__logo" href="index.html"><img class="logo__img" src="./img/logo.svg" alt>
                    <div class="logo__title">MANAX</div></a>
              </div>
              <div class="header__right">
                <div class="header__stats"><a class="header__stats-icon" href="#"><span>12</span></a>
                  <div class="header__stats-content">
                    <p>Next billing 5/22/2022</p>
                    <h6>$29,878,612.13</h6>
                  </div>
                </div>
                <div class="header__info"><a class="header__info-btn header__info-btn--notifications" href="#"></a></div>
                  <div class="user">
                    <div class="user__initials">AK</div>
                    <div class="user__dropdown">
                      <div class="user__dropdown-status user__dropdown-status--verified">Verified</div>
                      <div class="user__dropdown-info">
                        <div class="user__initials">AK</div>
                        <div class="user__dropdown-info-content">
                          <h6>Albert Krungsri</h6>
                          <p>albert@compx.com</p>
                        </div>
                      </div>
                      <div class="user__dropdown-section">
                        <div class="user__dropdown-section-header">Settings</div><a class="user__dropdown-item user__dropdown-item--personal" href="#">Personal info</a><a class="user__dropdown-item user__dropdown-item--security" href="#">Security</a><a class="user__dropdown-item user__dropdown-item--identification" href="#">Identification</a><a class="user__dropdown-item user__dropdown-item--payment" href="#">Payment</a>
                      </div><a class="user__dropdown-item user__dropdown-item--logout" href="#">Log out</a>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      <div class="cabinet">
        <div class="cabinet__aside">
          <div class="aside">
            <div class="aside__top"><a class="aside__btn aside__btn--dashboard aside__btn--active" href="dashboard-initial.html">Dashboard</a><a class="aside__btn aside__btn--orders" href="cabinet-settings-data.html">Orders</a><a class="aside__btn aside__btn--assets" href="cabinet-settings-data.html">Custom assets</a><a class="aside__btn aside__btn--history" href="cabinet-settings-data.html">History</a><a class="aside__btn aside__btn--settings" href="cabinet-settings-data.html">Settings</a></div>
            <div class="aside__bottom"><a class="aside__btn aside__btn--logout" href="#">Log out</a><span class="aside__copyright">© 2022 Manax. All rights reserved.</span></div>
          </div>
        </div>
        <div class="cabinet__content cabinet__content--dashboard">
          <div class="dashboard">
            <div class="dashboardItem dashboardItem_Greetings">
                <div class="greetings module">
                  <div class="greetingsWrapper">
                    <div>
                      <div class="greetingsPicture">
                        <!--img(src="./img/user.jpg", alt)-->
                      </div>
                      <div class="greetingsContent">
                        <div class="greetingsHeader">
                          <p>Hello, Albert Krungsri!</p>
                          <div class="status status--approved">Verified</div>
                        </div>
                        <div class="greetingsInfo"> 
                          <p>Last login time 2022-06-09 09:49:18</p>
                          <p>IP: 51.12.79.58</p>
                        </div>
                      </div>
                    </div><a class="btn btn-primary btn-xs" href="#">Order exchange</a>
                  </div>
                </div>
            </div>
            <div class="dashboardItem dashboardItem_Balance">
                <div class="balance js-visible-wrapper module">
                  <div class="balanceLeft">
                    <div class="balanceTitle">Account balance<a class="visible js-visible-btn" href="#"><span>Hide balance</span></a></div>
                    <div class="balanceAmount js-visible-content">$0.00</div>
                  </div>
                  <div class="balanceRight"><a class="btn btn-primary btn-xxs balanceBtn" href="#">Deposit</a><a class="btn btn-gray btn-xs balanceBtn" href="#">Withdraw</a>
                  </div>
                </div>
            </div>
            <div class="dashboardItem dashboardItem_Statuses">
                <div class="statuses module">
                  <div class="statusesHeader">
                    <div class="statusesHeaderLeft">
                      <p>Total orders</p>
                      <h5>31</h5>
                    </div>
                    <div class="statusesHeaderRight">
                        <div class="statusesColor statusesColor_Inactive">Not active</div>
                        <div class="statusesColor statusesColor_Pending">Not active</div>
                        <div class="statusesColor statusesColor_Active">Active</div>
                    </div>
                  </div>
                  <div class="statusesContent">
                    <div class="statusesSection">
                      <div class="statusesSectionColumn">
                        <h6 class="statusesSectionOverall">19</h6>
                        <div class="statusesSectionItem statusesSectionItem_Inactive">2</div>
                        <div class="statusesSectionItem statusesSectionItem_Pending">5</div>
                        <div class="statusesSectionItem statusesSectionItem_Active">12</div>
                      </div>
                      <div class="statusesSectionHeader">Paid</div>
                    </div>
                    <div class="statusesSection">
                      <div class="statusesSectionColumn">
                        <h6 class="statusesSectionOverall">12</h6>
                        <div class="statusesSectionItem statusesSectionItem_Inactive">2</div>
                        <div class="statusesSectionItem statusesSectionItem_Pending">9</div>
                        <div class="statusesSectionItem statusesSectionItem_Active">1</div>
                      </div>
                      <div class="statusesSectionHeader">Demo</div>
                    </div>
                  </div>
                </div>
            </div>
            <div class="dashboardItem dashboardItem_Costs">
                <div class="costs js-visible-wrapper module">
                  <div class="costsHeader">
                    <div class="costsHeaderLeft">
                      <div class="costsTitle">
                        <p>Total costs for 1 month</p><a class="visible js-visible-btn" href="#"><span>Hide balance</span></a>
                      </div>
                      <h5 class="js-visible-content">$1,566,247.23</h5>
                    </div>
                    <div class="costsHeaderContent">
                        <div class="periods"><a class="periodsItem periodsItem_Active" href="#">1 month</a><a class="periodsItem" href="#">3 month</a><a class="periodsItem" href="#">6 month</a><a class="periodsItem" href="#">12 month</a><a class="periodsItem" href="#">All period</a></div>
                      <div class="costsHeaderRight"><a class="link link_Arrow" href="#">Orders list</a></div>
                    </div>
                  </div>
                  <div class="costsContent">
                      <div class="cost">
                        <div class="costHeader">
                          <p>Dfocom corparation</p>
                        </div>
                        <div class="costContent">
                          <div class="costColumn"></div>
                          <p class="js-visible-content">$375,320</p>
                        </div>
                      </div>
                      <div class="cost">
                        <div class="costHeader">
                          <p>CompX</p>
                        </div>
                        <div class="costContent">
                          <div class="costColumn"></div>
                          <p class="js-visible-content">$275,320</p>
                        </div>
                      </div>
                      <div class="cost">
                        <div class="costHeader">
                          <p>Abcompany group</p>
                        </div>
                        <div class="costContent">
                          <div class="costColumn"></div>
                          <p class="js-visible-content">$255,320</p>
                        </div>
                      </div>
                      <div class="cost">
                        <div class="costHeader">
                          <p>Abcompany group long name</p>
                        </div>
                        <div class="costContent">
                          <div class="costColumn"></div>
                          <p class="js-visible-content">$183,320</p>
                        </div>
                      </div>
                      <div class="cost">
                        <div class="costHeader">
                          <p>CompX ABC</p>
                        </div>
                        <div class="costContent">
                          <div class="costColumn"></div>
                          <p class="js-visible-content">$148,320</p>
                        </div>
                      </div>
                      <div class="cost">
                        <div class="costHeader">
                          <p>Abcompany group</p>
                        </div>
                        <div class="costContent">
                          <div class="costColumn"></div>
                          <p class="js-visible-content">$105,320</p>
                        </div>
                      </div>
                      <div class="cost">
                        <div class="costHeader">
                          <p>Abcompany group long name</p>
                        </div>
                        <div class="costContent">
                          <div class="costColumn"></div>
                          <p class="js-visible-content">$53,320</p>
                        </div>
                      </div>
                      <div class="cost">
                        <div class="costHeader">
                          <p>Abcompany group long name</p>
                        </div>
                        <div class="costContent">
                          <div class="costColumn"></div>
                          <p class="js-visible-content">$53,320</p>
                        </div>
                      </div>
                      <div class="cost">
                        <div class="costHeader">
                          <p>Abcompany group long name</p>
                        </div>
                        <div class="costContent">
                          <div class="costColumn"></div>
                          <p class="js-visible-content">$53,320</p>
                        </div>
                      </div>
                      <div class="cost">
                        <div class="costHeader">
                          <p>Abcompany group long name</p>
                        </div>
                        <div class="costContent">
                          <div class="costColumn"></div>
                          <p class="js-visible-content">$53,320</p>
                        </div>
                      </div>
                  </div>
                </div>
            </div>
            <div class="dashboardItem dashboardItem_Half dashboardItem_Column">
                <div class="create module">
                  <div class="createHeader">
                    <h6>Create your own cryptocurrency</h6>
                    <p>Lorem ipsum dolor</p>
                  </div><a class="btn btn-primary btn-xs px-30" href="#">Create</a>
                </div>
                <div class="security module">
                  <div class="securityHeader">
                    <h6>Increase your account security</h6><a class="link link_Arrow" href="#">Security settings</a>
                  </div>
                  <div class="securityContent">
                    <div class="attribute attribute_Active p sm">Email confirmed</div>
                    <div class="attribute attribute_Active p sm">Identity verification comleted</div>
                    <div class="attribute p sm">Confirm phone number<a class="link" href="#">Confirm</a></div>
                    <div class="attribute p sm">Enable 2FA<a class="link" href="#">Enable</a></div>
                  </div>
                </div>
            </div>
            <div class="dashboardItem dashboardItem_Half">
                <div class="activity module">
                  <div class="activityHeader">
                    <h6>Account activity</h6><a class="link link_Arrow" href="#">All activities</a>
                  </div>
                  <div class="activityContent">
                      <div class="activityItem">
                        <div class="activityItemLeft">
                          <p>Web</p>
                          <p>2022-06-09 09:49:18</p>
                        </div>
                        <div class="activityItemRight">
                          <p>IP: 51.12.79.58</p>
                          <p>New York, Unated States</p>
                        </div>
                      </div>
                      <div class="activityItem">
                        <div class="activityItemLeft">
                          <p>Mobile</p>
                          <p>2022-06-09 09:49:18</p>
                        </div>
                        <div class="activityItemRight">
                          <p>IP: 51.12.79.58</p>
                          <p>New York, Unated States</p>
                        </div>
                      </div>
                      <div class="activityItem">
                        <div class="activityItemLeft">
                          <p>Web</p>
                          <p>2022-06-09 09:49:18</p>
                        </div>
                        <div class="activityItemRight">
                          <p>IP: 51.12.79.58</p>
                          <p>New York, Unated States</p>
                        </div>
                      </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="js/vendor.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>

src/pages/dashboard-order-10.pug
extends ../templates/template.pug
block content
  .cabinet__wrapper
    +header({
      type: 'user',
      modifier: 'info',
      settings: true
    }).header--inner
    .cabinet
      .cabinet__aside
        .aside
          .aside__top
            a.aside__btn.aside__btn--dashboard.aside__btn--active(href="dashboard-initial.html") Dashboard
            a.aside__btn.aside__btn--orders(href="cabinet-settings-data.html") Orders
            a.aside__btn.aside__btn--assets(href="cabinet-settings-data.html") Custom assets
            a.aside__btn.aside__btn--history(href="cabinet-settings-data.html") History
            a.aside__btn.aside__btn--settings(href="cabinet-settings-data.html") Settings
          .aside__bottom
            a.aside__btn.aside__btn--logout(href="#") Log out
            span.aside__copyright © 2022 Manax. All rights reserved.
      .cabinet__content.cabinet__content--dashboard
        .dashboard
          .dashboardItem.dashboardItem_Greetings
            +greetings({
              status: 'Verified',
              type: 'approved',
              btn: 'Order exchange'
            }).module
          .dashboardItem.dashboardItem_Balance
            +balance({
              number: '$2,654,814.91',
              type: 'withdraw'
            }).module
          .dashboardItem.dashboardItem_Statuses
            +statuses({
              total: 31,
              paid: [12, 5, 2],
              demo: [1, 9, 2]
            }).module
          .dashboardItem.dashboardItem_Costs
            +costs({
              total: '$1,566,247.23',
              items: '10'
            }).module
          .dashboardItem.dashboardItem_Half.dashboardItem_Column
            +create.module
            +security({
              type: 'verified'
            }).module
          .dashboardItem.dashboardItem_Half
            +activity.module
