src/pages/identification-success.pug
extends ../templates/template.pug
block content
  +header({
    type: 'user'
  }).header--inner
  .stagesWrapper
    .stagesWrapperInner
      .container
        a.link.link_Arrow.link_Back.mb-15(href="#") Back to settings
        h6.lg.text-light.mb-30 Identity veryfication
        +confirmation({
          header: 'Verification information sent',
          subheader: "Review time: 3 days",
          type: 'confirmed',
          btn: 'Back to settings'
        }).confirmation_Wide

public/identification-success.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Title</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
  </head>
  <body>
      <div class="header header--inner">
        <div class="container header__container">
          <div class="header__wrapper">
            <div class="header__left"><a class="logo header__logo" href="index.html"><img class="logo__img" src="./img/logo.svg" alt>
                  <div class="logo__title">MANAX</div></a>
            </div>
            <div class="header__right">
              <div class="header__info"><a class="header__info-btn header__info-btn--notifications" href="#"></a></div>
                <div class="user">
                  <div class="user__initials">AK</div>
                  <div class="user__dropdown">
                    <div class="user__dropdown-status user__dropdown-status--verified">Verified</div>
                    <div class="user__dropdown-info">
                      <div class="user__initials">AK</div>
                      <div class="user__dropdown-info-content">
                        <h6>Albert Krungsri</h6>
                        <p>albert@compx.com</p>
                      </div>
                    </div><a class="user__dropdown-item user__dropdown-item--personal" href="#">Personal area</a><a class="user__dropdown-item user__dropdown-item--logout" href="#">Log out</a>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    <div class="stagesWrapper">
      <div class="stagesWrapperInner">
        <div class="container"><a class="link link_Arrow link_Back mb-15" href="#">Back to settings</a>
          <h6 class="lg text-light mb-30">Identity veryfication</h6>
            <div class="confirmation confirmation_Wide">
              <div class="confirmationHeader">
                <div class="confirmationIcon"></div>
                <h6>Verification information sent</h6>
                <p>Review time: 3 days</p>
              </div><a class="btn btn-primary btn-xs mt-15 w-100" href="#">Back to settings</a>
            </div>
        </div>
      </div>
    </div>
    <script src="js/vendor.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>
