public/index.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Title</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
  </head>
  <body>
    <div class="container py-50">
      <h2 class="mb-20 pb-10 border-bottom">Список страниц</h2>
      <div class="row">
        <div class="col-md-4">
          <ul class="pl-0">
            <li style="list-style: none;"><a class="d-block my-20" href="main.html" style="font-size: 20px;">Main</a></li>
            <li style="list-style: none;"><a class="d-block my-20" href="login.html" style="font-size: 20px;">Login</a></li>
            <li style="list-style: none;"><a class="d-block my-20" href="registration.html" style="font-size: 20px;">Registration</a></li>
            <li style="list-style: none;"><a class="d-block my-20" href="orders-empty.html" style="font-size: 20px;">Orders Empty</a></li>
            <li style="list-style: none;"><a class="d-block my-20" href="orders.html" style="font-size: 20px;">Orders</a></li>
            <li style="list-style: none;"><a class="d-block my-20" href="order-new.html" style="font-size: 20px;">Order New</a></li>
            <li style="list-style: none;"><a class="d-block my-20" href="settings-data.html" style="font-size: 20px;">Settings Data</a></li>
            <li style="list-style: none;"><a class="d-block my-20" href="settings-password.html" style="font-size: 20px;">Settings Password</a></li>
            <li style="list-style: none;"><a class="d-block my-20" href="settings-payments.html" style="font-size: 20px;">Settings Payments</a></li>
            <li style="list-style: none;"><a class="d-block my-20" href="settings-payments-form.html" style="font-size: 20px;">Settings Payments Form</a></li>
            <li style="list-style: none;"><a class="d-block my-20" href="order-active.html" style="font-size: 20px;">Order Active</a></li>
            <li style="list-style: none;"><a class="d-block my-20" href="order-expired.html" style="font-size: 20px;">Order Expired</a></li>
            <li style="list-style: none;"><a class="d-block my-20" href="order-payment.html" style="font-size: 20px;">Order Payment</a></li>
            <li style="list-style: none;"><a class="d-block my-20" href="order-rejected.html" style="font-size: 20px;">Order Rejected</a></li>
            <li style="list-style: none;"><a class="d-block my-20" href="order-pending.html" style="font-size: 20px;">Order Pending</a></li>
            <li style="list-style: none;"><a class="d-block my-20" href="order-suspended.html" style="font-size: 20px;">Order Suspended</a></li>
            <li style="list-style: none;"><a class="d-block my-20" href="order-payment-form.html" style="font-size: 20px;">Order Payment Form</a></li>
            <li style="list-style: none;"><a class="d-block my-20" href="order-paypal.html" style="font-size: 20px;">Order Paypal</a></li>
            <li style="list-style: none;"><a class="d-block my-20" href="order-subscription.html" style="font-size: 20px;">Order Subscription</a></li>
            <li style="list-style: none;"><a class="d-block my-20" href="order-subscription-bank.html" style="font-size: 20px;">Order Subscription Bank</a></li>
            <li style="list-style: none;"><a class="d-block my-20" href="order-subscription-wise.html" style="font-size: 20px;">Order Subscription Wise</a></li>
            <li style="list-style: none;"><a class="d-block my-20" href="order-subscription-paypal.html" style="font-size: 20px;">Order Subscription Paypal</a></li>
            <li style="list-style: none;"><a class="d-block my-20" href="order-subscription-crypto.html" style="font-size: 20px;">Order Subscription Crypto</a></li>
            <li style="list-style: none;"><a class="d-block my-20" href="dashboard-initial.html" style="font-size: 20px;">Dashboard Initial</a></li>
            <li style="list-style: none;"><a class="d-block my-20" href="dashboard-progress.html" style="font-size: 20px;">Dashboard Progress</a></li>
            <li style="list-style: none;"><a class="d-block my-20" href="dashboard-verified.html" style="font-size: 20px;">Dashboard Verified</a></li>
            <li style="list-style: none;"><a class="d-block my-20" href="dashboard-demo.html" style="font-size: 20px;">Dashboard Demo</a></li>
            <li style="list-style: none;"><a class="d-block my-20" href="dashboard-order-1.html" style="font-size: 20px;">Dashboard Order 1</a></li>
            <li style="list-style: none;"><a class="d-block my-20" href="dashboard-order-3.html" style="font-size: 20px;">Dashboard Order 3</a></li>
            <li style="list-style: none;"><a class="d-block my-20" href="dashboard-order-4.html" style="font-size: 20px;">Dashboard Order 4</a></li>
            <li style="list-style: none;"><a class="d-block my-20" href="dashboard-order-10.html" style="font-size: 20px;">Dashboard Order 10</a></li>
            <li style="list-style: none;"><a class="d-block my-20" href="login-confirmation.html" style="font-size: 20px;">Login Confirmation</a></li>
            <li style="list-style: none;"><a class="d-block my-20" href="login-confirmation-btn.html" style="font-size: 20px;">Login Confirmation Btn</a></li>
            <li style="list-style: none;"><a class="d-block my-20" href="login-confirmation-success.html" style="font-size: 20px;">Login Confirmation Success</a></li>
            <li style="list-style: none;"><a class="d-block my-20" href="security-email.html" style="font-size: 20px;">Security Email</a></li>
            <li style="list-style: none;"><a class="d-block my-20" href="security-google.html" style="font-size: 20px;">Security Google</a></li>
            <li style="list-style: none;"><a class="d-block my-20" href="notifications.html" style="font-size: 20px;">Notifications</a></li>
            <li style="list-style: none;"><a class="d-block my-20" href="#" style="font-size: 20px;"> </a></li>
            <li style="list-style: none;"><a class="d-block my-20" href="settings-new-info.html" style="font-size: 20px;">Settings New Info</a></li>
            <li style="list-style: none;"><a class="d-block my-20" href="settings-new-security.html" style="font-size: 20px;">Settings New Security</a></li>
            <li style="list-style: none;"><a class="d-block my-20" href="settings-new-auth.html" style="font-size: 20px;">Settings New Auth</a></li>
            <li style="list-style: none;"><a class="d-block my-20" href="settings-new-password.html" style="font-size: 20px;">Settings New Password</a></li>
            <li style="list-style: none;"><a class="d-block my-20" href="settings-new-activity.html" style="font-size: 20px;">Settings New Activity</a></li>
            <li style="list-style: none;"><a class="d-block my-20" href="settings-identification.html" style="font-size: 20px;">Settings Identification</a></li>
            <li style="list-style: none;"><a class="d-block my-20" href="identification.html" style="font-size: 20px;">Identification</a></li>
            <li style="list-style: none;"><a class="d-block my-20" href="identification-success.html" style="font-size: 20px;">Identification Success</a></li>
            <li style="list-style: none;"><a class="d-block my-20" href="settings-new-payments.html" style="font-size: 20px;">Settings New Payments</a></li>
            <li style="list-style: none;"><a class="d-block my-20" href="settings-new-payments-add.html" style="font-size: 20px;">Settings New Payments Add</a></li>
          </ul>
        </div>
      </div>
    </div>
    <script src="js/vendor.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>

src/pages/index.pug
extends ../templates/template.pug
block content
  .container.py-50
    h2.mb-20.pb-10.border-bottom Список страниц
    .row
      .col-md-4
        ul.pl-0
          li(style="list-style: none;")
            a.d-block.my-20(href="main.html", style="font-size: 20px;") Main
          li(style="list-style: none;")
            a.d-block.my-20(href="login.html", style="font-size: 20px;") Login
          li(style="list-style: none;")
            a.d-block.my-20(href="registration.html", style="font-size: 20px;") Registration
          li(style="list-style: none;")
            a.d-block.my-20(href="orders-empty.html", style="font-size: 20px;") Orders Empty
          li(style="list-style: none;")
            a.d-block.my-20(href="orders.html", style="font-size: 20px;") Orders
          li(style="list-style: none;")
            a.d-block.my-20(href="order-new.html", style="font-size: 20px;") Order New
          li(style="list-style: none;")
            a.d-block.my-20(href="settings-data.html", style="font-size: 20px;") Settings Data
          li(style="list-style: none;")
            a.d-block.my-20(href="settings-password.html", style="font-size: 20px;") Settings Password
          li(style="list-style: none;")
            a.d-block.my-20(href="settings-payments.html", style="font-size: 20px;") Settings Payments
          li(style="list-style: none;")
            a.d-block.my-20(href="settings-payments-form.html", style="font-size: 20px;") Settings Payments Form
          li(style="list-style: none;")
            a.d-block.my-20(href="order-active.html", style="font-size: 20px;") Order Active
          li(style="list-style: none;")
            a.d-block.my-20(href="order-expired.html", style="font-size: 20px;") Order Expired
          li(style="list-style: none;")
            a.d-block.my-20(href="order-payment.html", style="font-size: 20px;") Order Payment
          li(style="list-style: none;")
            a.d-block.my-20(href="order-rejected.html", style="font-size: 20px;") Order Rejected
          li(style="list-style: none;")
            a.d-block.my-20(href="order-pending.html", style="font-size: 20px;") Order Pending
          li(style="list-style: none;")
            a.d-block.my-20(href="order-suspended.html", style="font-size: 20px;") Order Suspended
          li(style="list-style: none;")
            a.d-block.my-20(href="order-payment-form.html", style="font-size: 20px;") Order Payment Form
          li(style="list-style: none;")
            a.d-block.my-20(href="order-paypal.html", style="font-size: 20px;") Order Paypal
          li(style="list-style: none;")
            a.d-block.my-20(href="order-subscription.html", style="font-size: 20px;") Order Subscription
          li(style="list-style: none;")
            a.d-block.my-20(href="order-subscription-bank.html", style="font-size: 20px;") Order Subscription Bank
          li(style="list-style: none;")
            a.d-block.my-20(href="order-subscription-wise.html", style="font-size: 20px;") Order Subscription Wise
          li(style="list-style: none;")
            a.d-block.my-20(href="order-subscription-paypal.html", style="font-size: 20px;") Order Subscription Paypal
          li(style="list-style: none;")
            a.d-block.my-20(href="order-subscription-crypto.html", style="font-size: 20px;") Order Subscription Crypto
          li(style="list-style: none;")
            a.d-block.my-20(href="dashboard-initial.html", style="font-size: 20px;") Dashboard Initial
          li(style="list-style: none;")
            a.d-block.my-20(href="dashboard-progress.html", style="font-size: 20px;") Dashboard Progress
          li(style="list-style: none;")
            a.d-block.my-20(href="dashboard-verified.html", style="font-size: 20px;") Dashboard Verified
          li(style="list-style: none;")
            a.d-block.my-20(href="dashboard-demo.html", style="font-size: 20px;") Dashboard Demo
          li(style="list-style: none;")
            a.d-block.my-20(href="dashboard-order-1.html", style="font-size: 20px;") Dashboard Order 1
          li(style="list-style: none;")
            a.d-block.my-20(href="dashboard-order-3.html", style="font-size: 20px;") Dashboard Order 3
          li(style="list-style: none;")
            a.d-block.my-20(href="dashboard-order-4.html", style="font-size: 20px;") Dashboard Order 4
          li(style="list-style: none;")
            a.d-block.my-20(href="dashboard-order-10.html", style="font-size: 20px;") Dashboard Order 10
          li(style="list-style: none;")
            a.d-block.my-20(href="login-confirmation.html", style="font-size: 20px;") Login Confirmation
          li(style="list-style: none;")
            a.d-block.my-20(href="login-confirmation-btn.html", style="font-size: 20px;") Login Confirmation Btn
          li(style="list-style: none;")
            a.d-block.my-20(href="login-confirmation-success.html", style="font-size: 20px;") Login Confirmation Success
          li(style="list-style: none;")
            a.d-block.my-20(href="security-email.html", style="font-size: 20px;") Security Email
          li(style="list-style: none;")
            a.d-block.my-20(href="security-google.html", style="font-size: 20px;") Security Google
          li(style="list-style: none;")
            a.d-block.my-20(href="notifications.html", style="font-size: 20px;") Notifications
          li(style="list-style: none;")
            a.d-block.my-20(href="#", style="font-size: 20px;")  
          li(style="list-style: none;")
            a.d-block.my-20(href="settings-new-info.html", style="font-size: 20px;") Settings New Info
          li(style="list-style: none;")
            a.d-block.my-20(href="settings-new-security.html", style="font-size: 20px;") Settings New Security
          li(style="list-style: none;")
            a.d-block.my-20(href="settings-new-auth.html", style="font-size: 20px;") Settings New Auth
          li(style="list-style: none;")
            a.d-block.my-20(href="settings-new-password.html", style="font-size: 20px;") Settings New Password
          li(style="list-style: none;")
            a.d-block.my-20(href="settings-new-activity.html", style="font-size: 20px;") Settings New Activity
          li(style="list-style: none;")
            a.d-block.my-20(href="settings-identification.html", style="font-size: 20px;") Settings Identification
          li(style="list-style: none;")
            a.d-block.my-20(href="identification.html", style="font-size: 20px;") Identification
          li(style="list-style: none;")
            a.d-block.my-20(href="identification-success.html", style="font-size: 20px;") Identification Success
          li(style="list-style: none;")
            a.d-block.my-20(href="settings-new-payments.html", style="font-size: 20px;") Settings New Payments
          li(style="list-style: none;")
            a.d-block.my-20(href="settings-new-payments-add.html", style="font-size: 20px;") Settings New Payments Add
