public/login.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Title</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
  </head>
  <body>
    <div class="enter">
        <div class="header header--absolute header--login">
          <div class="container header__container">
            <div class="header__wrapper">
              <div class="header__left"><a class="logo header__logo" href="index.html"><img class="logo__img" src="./img/logo.svg" alt>
                    <div class="logo__title">MANAX</div></a>
              </div>
              <div class="header__right">
                <p class="text-light header__right-title mb-0 me-25">Not a member?</p><a class="btn btn-primary btn-sm header__btn" href="#">Sign up</a>
              </div>
            </div>
          </div>
        </div>
      <div class="container">
        <div class="enter__content">
          <h4 class="enter__header">Sign in</h4>
          <div class="enter__subheader">to access your account</div>
          <form class="form form--dark" action="#" method="POST">
            <div class="form__item">
              <div class="form__label form-label">Email</div>
              <input class="input form-control" type="email" name="email" placeholder="you@company.com" required>
            </div>
            <div class="form__item">
              <div class="form__label form-label">Password</div>
              <div class="form__item-password">
                <input class="input form-control" type="password" name="email" required><a class="form__password-view" href="#"></a>
              </div>
            </div>
            <button class="btn btn-primary w-100 mt-15" type="submit">Sign in</button><a class="form__link" href="#">Forgot your password?</a>
          </form>
        </div>
      </div>
      <div class="enter__bottom">
        <div class="container">
          <p class="sm enter__footer">Contact us at <a href="mailto:support@manax.net">support@manax.net </a>if you have problems</p>
        </div>
      </div>
    </div>
    <script src="js/vendor.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>

src/pages/login.pug
extends ../templates/template.pug
block content
  .enter
    +header({
      type: 'enter',
      btnLink: 'Not a member?'
    }).header--absolute.header--login
    .container
      .enter__content
        h4.enter__header Sign in
        .enter__subheader to access your account
        form.form.form--dark(action="#", method="POST")
          .form__item
            .form__label.form-label Email
            input.input.form-control(type="email", name="email", placeholder="you@company.com", required)
          .form__item
            .form__label.form-label Password
            .form__item-password
              input.input.form-control(type="password", name="email", required)
              a.form__password-view(href="#")
          button.btn.btn-primary.w-100.mt-15(type="submit") Sign in
          a.form__link(href="#") Forgot your password?
    .enter__bottom
      .container
        p.sm.enter__footer Contact us at 
          a(href="mailto:support@manax.net") support@manax.net 
          | if you have problems
