src/pages/main.pug
extends ../templates/template.pug
block content
  +header({
    type: 'menu'
  }).header--absolute
  +front
  .section
    .container
      .section__top
        p.section__subheader Features
        h3.section__header Get your white label and pay monthly fixed-price
      .row.section__grid
        .col-md-6.col-lg-4.d-flex
          +feature({
            icon: 'feature-1.svg',
            title: 'Complete brokerage solution',
            dscr: 'Front Trader’s Room, Trading Platform and Back-Office'
          })
        .col-md-6.col-lg-4.d-flex
          +feature({
            icon: 'feature-2.svg',
            title: 'Multi-product offering',
            dscr: 'WOW TRADER, WOW SIMPLE, 3rd Party Terminals'
          })
        .col-md-6.col-lg-4.d-flex
          +feature({
            icon: 'feature-3.svg',
            title: 'Multi base currency',
            dscr: 'Deposit and withdraw with ease of 100+ integrations for Fiat'
          })
        .col-md-6.col-lg-4.d-flex
          +feature({
            icon: 'feature-4.svg',
            title: 'Fast deployment',
            dscr: 'With stand-alone, embedded platform, widgets, or powerful API'
          })
        .col-md-6.col-lg-4.d-flex
          +feature({
            icon: 'feature-5.svg',
            title: 'Risk manager',
            dscr: 'Unlimited groups and high-risk watchlist with Set Groups by country /campaign'
          })
        .col-md-6.col-lg-4.d-flex
          +feature({
            icon: 'feature-6.svg',
            title: 'Fanatical support',
            dscr: '24/7 monitoring and support in multiple languages via Skype and Freshdesk'
          })
  .section.section--dark
    .container
      .section__top
        p.section__subheader Pricing
        h3.section__header Select a package that fit your budget
      .section__plans
        .row.section__plans-content
          .col-sm-4.d-flex
            +plan({
              price: '$50,000',
              title: 'Basic plan',
              features: ['Access to all basic features', 'Basic reporting and analytics', 'Up to 10 individual users', '20GB individual data each user', 'Basic chat and email support']
            }).plan--popular
          .col-sm-4.d-flex
            +plan({
              price: '$120,000',
              title: 'Business plan',
              features: ['200+ integrations', 'Advanced reporting and analytics', 'Up to 20 individual users', '40GB individual data each user', 'Priority chat and email support']
            })
          .col-sm-4.d-flex
            +plan({
              price: '$200,000',
              title: 'Enterprise plan',
              features: ['Advanced custom fields', 'Audit log and data history', 'Unlimited individual users', 'Unlimited individual data', 'Personalised+priotity service']
            })
  .section.section--advantages
    .container
      .section__top.text-start
        .row
          .col-lg-7.col-sm-8
            p.section__subheader Features
            h4.section__header Your white label trading platform
            p.lg.text-light.mb-0 Spend smarter, lower your bills, get cashback on everything you buy, and unlock credit to grow your business.
      .row
        .col-lg-6.col-sm-8
          +advantage({
            icon: 'feature-2.svg',
            title: 'Unlimited cards',
            dscr: 'Give your team the autonomy they need with access to as many cards as they need. Authorise purchases with a click. Simple.'
          })
          +advantage({
            icon: 'feature-7.svg',
            title: 'Easy expense policies',
            dscr: 'Every card comes with configurable spending limits, purchase restrictions, and cancellations for each employee and team.'
          })
          +advantage({
            icon: 'feature-3.svg',
            title: 'Advanced analytics',
            dscr: 'An all-in-one platform that helps you balance everything your team need to be happy and your finances in order.'
          })
  .section
    .container
      +partners
      +trial
  .section.section--dark
    .container
      .row
        .col-xl-8.mx-auto
          .section__top
            p.section__subheader Integrations
            h3.section__header Technologies and services
            p.lg.text-gray.text-center.mb-0 Connect your tools, connect your teams. With over 200 apps already available in our directory, your team’s favourite tools are just a click away.
      +integrations
  .section.pt-0
    .container
      +application
  +footer

public/main.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Title</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
  </head>
  <body>
      <div class="header header--absolute">
        <div class="container header__container">
          <div class="header__wrapper">
            <div class="header__left"><a class="logo header__logo" href="index.html"><img class="logo__img" src="./img/logo.svg" alt>
                  <div class="logo__title">MANAX</div></a>
                <div class="menu"><a class="menu__btn" href="#"></a>
                  <div class="menu__content"><a class="menu__link" href="#">Home</a><a class="menu__link" href="#">Features</a><a class="menu__link" href="#">Pricing</a><a class="menu__link" href="#">Integrations</a><a class="menu__link" href="#">Contact</a></div>
                </div>
            </div>
            <div class="header__right"><a class="btn btn-link btn-link--white btn-sm header__btn" href="#">Log in</a><a class="btn btn-primary btn-sm header__btn" href="#">Sign up</a>
            </div>
          </div>
        </div>
      </div>
      <div class="front">
        <div class="container">
          <div class="front__content">
            <h1 class="front__title">Looking for a white label trading platform?</h1>
            <div class="front__subheader">Turn your Forex and CFD brokerage into the <span class="front__subheader-accent">business of your dreams</span></div><a class="btn btn-primary btn-lg" href="#">Order now</a>
          </div>
        </div>
      </div>
    <div class="section">
      <div class="container">
        <div class="section__top">
          <p class="section__subheader">Features</p>
          <h3 class="section__header">Get your white label and pay monthly fixed-price</h3>
        </div>
        <div class="row section__grid">
          <div class="col-md-6 col-lg-4 d-flex">
              <div class="feature">
                <div class="feature__icon"><img class="feature__icon-img" src="./img/feature-1.svg" alt></div>
                <h6 class="feature__title">Complete brokerage solution</h6>
                <p class="feature__dscr">Front Trader’s Room, Trading Platform and Back-Office</p>
              </div>
          </div>
          <div class="col-md-6 col-lg-4 d-flex">
              <div class="feature">
                <div class="feature__icon"><img class="feature__icon-img" src="./img/feature-2.svg" alt></div>
                <h6 class="feature__title">Multi-product offering</h6>
                <p class="feature__dscr">WOW TRADER, WOW SIMPLE, 3rd Party Terminals</p>
              </div>
          </div>
          <div class="col-md-6 col-lg-4 d-flex">
              <div class="feature">
                <div class="feature__icon"><img class="feature__icon-img" src="./img/feature-3.svg" alt></div>
                <h6 class="feature__title">Multi base currency</h6>
                <p class="feature__dscr">Deposit and withdraw with ease of 100+ integrations for Fiat</p>
              </div>
          </div>
          <div class="col-md-6 col-lg-4 d-flex">
              <div class="feature">
                <div class="feature__icon"><img class="feature__icon-img" src="./img/feature-4.svg" alt></div>
                <h6 class="feature__title">Fast deployment</h6>
                <p class="feature__dscr">With stand-alone, embedded platform, widgets, or powerful API</p>
              </div>
          </div>
          <div class="col-md-6 col-lg-4 d-flex">
              <div class="feature">
                <div class="feature__icon"><img class="feature__icon-img" src="./img/feature-5.svg" alt></div>
                <h6 class="feature__title">Risk manager</h6>
                <p class="feature__dscr">Unlimited groups and high-risk watchlist with Set Groups by country /campaign</p>
              </div>
          </div>
          <div class="col-md-6 col-lg-4 d-flex">
              <div class="feature">
                <div class="feature__icon"><img class="feature__icon-img" src="./img/feature-6.svg" alt></div>
                <h6 class="feature__title">Fanatical support</h6>
                <p class="feature__dscr">24/7 monitoring and support in multiple languages via Skype and Freshdesk</p>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section section--dark">
      <div class="container">
        <div class="section__top">
          <p class="section__subheader">Pricing</p>
          <h3 class="section__header">Select a package that fit your budget</h3>
        </div>
        <div class="section__plans">
          <div class="row section__plans-content">
            <div class="col-sm-4 d-flex">
                <div class="plan plan--popular">
                  <h2 class="plan__price">$50,000</h2>
                  <h6 class="plan__title">Basic plan</h6>
                  <p class="plan__period">Billed monthly</p>
                  <ul class="plan__features-list">
                    <li class="plan__feature">Access to all basic features</li>
                    <li class="plan__feature">Basic reporting and analytics</li>
                    <li class="plan__feature">Up to 10 individual users</li>
                    <li class="plan__feature">20GB individual data each user</li>
                    <li class="plan__feature">Basic chat and email support</li>
                  </ul><a class="btn btn-primary plan__btn w-100" href="#">Get started</a>
                </div>
            </div>
            <div class="col-sm-4 d-flex">
                <div class="plan">
                  <h2 class="plan__price">$120,000</h2>
                  <h6 class="plan__title">Business plan</h6>
                  <p class="plan__period">Billed monthly</p>
                  <ul class="plan__features-list">
                    <li class="plan__feature">200+ integrations</li>
                    <li class="plan__feature">Advanced reporting and analytics</li>
                    <li class="plan__feature">Up to 20 individual users</li>
                    <li class="plan__feature">40GB individual data each user</li>
                    <li class="plan__feature">Priority chat and email support</li>
                  </ul><a class="btn btn-primary plan__btn w-100" href="#">Get started</a>
                </div>
            </div>
            <div class="col-sm-4 d-flex">
                <div class="plan">
                  <h2 class="plan__price">$200,000</h2>
                  <h6 class="plan__title">Enterprise plan</h6>
                  <p class="plan__period">Billed monthly</p>
                  <ul class="plan__features-list">
                    <li class="plan__feature">Advanced custom fields</li>
                    <li class="plan__feature">Audit log and data history</li>
                    <li class="plan__feature">Unlimited individual users</li>
                    <li class="plan__feature">Unlimited individual data</li>
                    <li class="plan__feature">Personalised+priotity service</li>
                  </ul><a class="btn btn-primary plan__btn w-100" href="#">Get started</a>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section section--advantages">
      <div class="container">
        <div class="section__top text-start">
          <div class="row">
            <div class="col-lg-7 col-sm-8">
              <p class="section__subheader">Features</p>
              <h4 class="section__header">Your white label trading platform</h4>
              <p class="lg text-light mb-0">Spend smarter, lower your bills, get cashback on everything you buy, and unlock credit to grow your business.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-sm-8">
              <div class="advantage">
                <div class="advantage__icon"><img class="advantage__icon-img" src="./img/feature-2.svg" alt></div>
                <div class="advantage__content">
                  <h6 class="advantage__title">Unlimited cards</h6>
                  <p class="text-light mb-0">Give your team the autonomy they need with access to as many cards as they need. Authorise purchases with a click. Simple.</p>
                </div>
              </div>
              <div class="advantage">
                <div class="advantage__icon"><img class="advantage__icon-img" src="./img/feature-7.svg" alt></div>
                <div class="advantage__content">
                  <h6 class="advantage__title">Easy expense policies</h6>
                  <p class="text-light mb-0">Every card comes with configurable spending limits, purchase restrictions, and cancellations for each employee and team.</p>
                </div>
              </div>
              <div class="advantage">
                <div class="advantage__icon"><img class="advantage__icon-img" src="./img/feature-3.svg" alt></div>
                <div class="advantage__content">
                  <h6 class="advantage__title">Advanced analytics</h6>
                  <p class="text-light mb-0">An all-in-one platform that helps you balance everything your team need to be happy and your finances in order.</p>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
          <div class="partners">
            <p class="partners__header">We’ve worked with some great startups</p>
            <div class="partners__list">
              <div class="partners__item"><img class="partners__logo" src="./img/partner-1.png" alt></div>
              <div class="partners__item"><img class="partners__logo" src="./img/partner-2.png" alt></div>
              <div class="partners__item"><img class="partners__logo" src="./img/partner-3.png" alt></div>
              <div class="partners__item"><img class="partners__logo" src="./img/partner-4.png" alt></div>
            </div>
          </div>
          <div class="trial">
            <div class="trial__left">
              <h5 class="trial__title">Start your 30-day free trial</h5>
              <p class="lg trial__dscr">Join over 4,000+ startups already growing with Untitled.</p>
            </div>
            <div class="trial__right"><a class="btn btn-light trial__btn" href="#">Learn more</a><a class="btn btn-primary trial__btn" href="#">Get started</a></div>
          </div>
      </div>
    </div>
    <div class="section section--dark">
      <div class="container">
        <div class="row">
          <div class="col-xl-8 mx-auto">
            <div class="section__top">
              <p class="section__subheader">Integrations</p>
              <h3 class="section__header">Technologies and services</h3>
              <p class="lg text-gray text-center mb-0">Connect your tools, connect your teams. With over 200 apps already available in our directory, your team’s favourite tools are just a click away.</p>
            </div>
          </div>
        </div>
          <div class="integrations">
            <div class="integrations__content">
              <div class="integrations__item"><img class="integrations__item-img" src="./img/int-1.png" alt></div>
              <div class="integrations__item"><img class="integrations__item-img" src="./img/int-2.png" alt></div>
              <div class="integrations__item"><img class="integrations__item-img" src="./img/int-3.png" alt></div>
              <div class="integrations__item"><img class="integrations__item-img" src="./img/int-4.png" alt></div>
              <div class="integrations__item"><img class="integrations__item-img" src="./img/int-5.png" alt></div>
              <div class="integrations__item"><img class="integrations__item-img" src="./img/int-6.png" alt></div>
              <div class="integrations__item"><img class="integrations__item-img" src="./img/int-7.png" alt></div>
              <div class="integrations__item"><img class="integrations__item-img" src="./img/int-8.png" alt></div>
              <div class="integrations__item"><img class="integrations__item-img" src="./img/int-9.png" alt></div>
              <div class="integrations__item"><img class="integrations__item-img" src="./img/int-10.png" alt></div>
              <div class="integrations__item"><img class="integrations__item-img" src="./img/int-11.png" alt></div>
              <div class="integrations__item"><img class="integrations__item-img" src="./img/int-12.png" alt></div>
              <div class="integrations__item"><img class="integrations__item-img" src="./img/int-13.png" alt></div>
              <div class="integrations__item"><img class="integrations__item-img" src="./img/int-14.png" alt></div>
              <div class="integrations__item"><img class="integrations__item-img" src="./img/int-15.png" alt></div>
              <div class="integrations__item"><img class="integrations__item-img" src="./img/int-16.png" alt></div>
              <div class="integrations__item"><img class="integrations__item-img" src="./img/int-17.png" alt></div>
              <div class="integrations__item"><img class="integrations__item-img" src="./img/int-18.png" alt></div>
              <div class="integrations__item"><img class="integrations__item-img" src="./img/int-19.png" alt></div>
              <div class="integrations__item"><img class="integrations__item-img" src="./img/int-20.png" alt></div>
              <div class="integrations__item"><img class="integrations__item-img" src="./img/int-21.png" alt></div>
              <div class="integrations__item"><img class="integrations__item-img" src="./img/int-22.png" alt></div>
              <div class="integrations__item"><img class="integrations__item-img" src="./img/int-23.png" alt></div>
              <div class="integrations__item"><img class="integrations__item-img" src="./img/int-24.png" alt></div>
              <div class="integrations__item"><img class="integrations__item-img" src="./img/int-25.png" alt></div>
              <div class="integrations__item"><img class="integrations__item-img" src="./img/int-26.png" alt></div>
              <div class="integrations__item"><img class="integrations__item-img" src="./img/int-27.png" alt></div>
              <div class="integrations__item"><img class="integrations__item-img" src="./img/int-28.png" alt></div>
              <div class="integrations__item"><img class="integrations__item-img" src="./img/int-29.png" alt></div>
              <div class="integrations__item"><img class="integrations__item-img" src="./img/int-30.png" alt></div>
              <div class="integrations__item"><img class="integrations__item-img" src="./img/int-31.png" alt></div>
              <div class="integrations__item"><img class="integrations__item-img" src="./img/int-32.png" alt></div>
            </div><a class="btn btn-primary integrations__btn" href="#">View all integrations</a>
          </div>
      </div>
    </div>
    <div class="section pt-0">
      <div class="container">
          <div class="application">
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block">
                <div class="application__picture"><img class="application__picture-img" src="./img/application.jpg" alt></div>
              </div>
              <div class="col-lg-6">
                <div class="application__form">
                    <form class="form js-submit" action="send.php" method="POST">
                      <h4 class="mb-20">Let’s start your project</h4>
                      <p class="lg form__subheader">Our friendly team would love to hear from you.</p>
                      <div class="form__content">
                        <div class="row">
                          <div class="col-xl-6">
                            <div class="form__item">
                              <div class="form__label form-label">Company</div>
                              <input class="input form-control" type="text" name="company" placeholder="Company name">
                            </div>
                          </div>
                          <div class="col-xl-6">
                            <div class="form__item">
                              <div class="form__label form-label">Contact person</div>
                              <input class="input form-control" type="text" name="name" placeholder="Full name">
                            </div>
                          </div>
                        </div>
                        <div class="form__item">
                          <div class="form__label form-label">Email</div>
                          <input class="input form-control" type="email" name="email" placeholder="you@company.com" required>
                        </div>
                        <div class="form__item">
                          <div class="form__label form-label">Phone number</div>
                          <div class="form__phone">
                            <select class="form-select form__select form__phone-select" required="">
                              <option selected value="+1">US</option>
                              <option value="+380">UA</option>
                            </select>
                            <input class="input form-control form__phone-input" type="text" placeholder="+1 (555) 000-0000" name="phone" required>
                          </div>
                        </div>
                        <div class="form__item">
                          <div class="form__label form-label">Message</div>
                          <textarea class="input input--textarea form-control" name="message" placeholder="you@company.com"></textarea>
                        </div>
                        <div class="form-check form__check">
                          <input class="form-check-input" id="agreement" type="checkbox" value="" required>
                          <label class="form-check-label" for="agreement">You agree to our friendly <a href="#">privacy policy</a>.</label>
                        </div>
                        <button class="btn btn-primary w-100" type="submit">Send message</button>
                      </div>
                      <div class="form__success">Your message successfully sent!</div>
                    </form>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
      <div class="footer">
        <div class="container">
          <div class="footer__top"><a class="logo footer__logo" href="index.html"><img class="logo__img" src="./img/logo.svg" alt>
                <div class="logo__title">MANAX</div></a>
            <div class="footer__sitemap"><a class="footer__sitemap-link" href="#">Home</a><a class="footer__sitemap-link" href="#">Features</a><a class="footer__sitemap-link" href="#">Pricing</a><a class="footer__sitemap-link" href="#">Integrations</a><a class="footer__sitemap-link" href="#">Contact</a></div>
          </div>
          <div class="footer__bottom">
            <div class="footer__bottom-left">
              <p class="footer__copyright">© 2022 Manax. All rights reserved.</p>
            </div>
            <div class="footer__bottom-right"><a class="footer__link" href="#">Terms</a><a class="footer__link" href="#">Privacy</a><a class="footer__link" href="#">Cookies</a></div>
          </div>
        </div>
      </div>
    <script src="js/vendor.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>
