public/order-payment.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Title</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
  </head>
  <body>
    <div class="cabinet__wrapper">
        <div class="header header--inner">
          <div class="container header__container">
            <div class="header__wrapper">
              <div class="header__left"><a class="logo header__logo" href="index.html"><img class="logo__img" src="./img/logo.svg" alt>
                    <div class="logo__title">MANAX</div></a>
              </div>
              <div class="header__right">
                <div class="header__stats"><a class="header__stats-icon" href="#"><span>12</span></a>
                  <div class="header__stats-content">
                    <p>Next billing 5/22/2022</p>
                    <h6>$29,878,612.13</h6>
                  </div>
                </div>
                <div class="header__info"><a class="header__info-btn header__info-btn--notifications" href="#"></a></div>
                  <div class="user">
                    <div class="user__initials">AK</div>
                    <div class="user__dropdown">
                      <div class="user__dropdown-status user__dropdown-status--verified">Verified</div>
                      <div class="user__dropdown-info">
                        <div class="user__initials">AK</div>
                        <div class="user__dropdown-info-content">
                          <h6>Albert Krungsri</h6>
                          <p>albert@compx.com</p>
                        </div>
                      </div><a class="user__dropdown-item user__dropdown-item--personal" href="#">Personal area</a><a class="user__dropdown-item user__dropdown-item--logout" href="#">Log out</a>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      <div class="cabinet">
        <div class="cabinet__aside">
          <div class="aside">
            <div class="aside__top"><a class="aside__btn aside__btn--orders aside__btn--active" href="cabinet-orders.html">Orders</a><a class="aside__btn aside__btn--settings" href="cabinet-settings-data.html">Settings</a></div>
            <div class="aside__bottom"><a class="aside__btn aside__btn--logout" href="#">Log out</a><span class="aside__copyright">© 2022 Manax. All rights reserved.</span></div>
          </div>
        </div>
        <div class="cabinet__content">
          <div class="cabinet__content-header cabinet__content-header--back"><a class="back" href="#"></a>
            <div class="cabinet__content-title me-10">Exchange</div>
            <p class="me-10 mb-0">from 5/20/2022 <span class="text-gray-dark">5:16 PM</span></p>
            <div class="cabinet__content-header-statuses">
              <div class="status status--active">Active</div>
            </div>
          </div>
          <div class="cabinet__inner cabinet__inner--default">
            <div class="row">
              <div class="col-xl-7">
                <div class="cabinet__inner-section">
                  <h6 class="cabinet__inner-section-header">General data</h6>
                    <div class="parameter">
                      <div class="parameter__header">
                        <p>Company</p>
                      </div>
                      <div class="parameter__content">
                        <p>CompX</p>
                      </div>
                    </div>
                    <div class="parameter">
                      <div class="parameter__header">
                        <p>Domain</p>
                      </div>
                      <div class="parameter__content">
                        <p>compx.com</p>
                      </div>
                    </div>
                    <div class="parameter">
                      <div class="parameter__header">
                        <p>Language</p>
                      </div>
                      <div class="parameter__content">
                        <p>English, Português</p>
                      </div>
                    </div>
                </div>
                <div class="cabinet__inner-section">
                  <h6 class="cabinet__inner-section-header">Features</h6>
                    <div class="parameter parameter--features">
                      <div class="parameter__header">
                        <p>Default features</p>
                      </div>
                      <div class="parameter__content">
                        <div class="attribute p">Excellent feature with the really long name number one</div>
                        <div class="attribute p">Feature two with short name</div>
                      </div>
                    </div>
                    <div class="parameter parameter--features">
                      <div class="parameter__header">
                        <p>Basic features</p>
                      </div>
                      <div class="parameter__content">
                        <div class="attribute p">Feature number one</div>
                        <div class="attribute p">Feature with short name number three</div>
                      </div>
                    </div>
                  <div class="cabinet__inner-section-more">
                      <div class="parameter parameter--features">
                        <div class="parameter__header">
                          <p>Business features</p>
                        </div>
                        <div class="parameter__content">
                          <div class="attribute p">Feature with short name number one</div>
                          <div class="attribute p">Feature two with one line</div>
                          <div class="attribute p">Feature number three</div>
                          <div class="attribute p">Excellent feature with the really long name number four</div>
                        </div>
                      </div>
                  </div><a class="p sm link cabinet__inner-section-more-btn" href="#">More</a>
                </div>
                <div class="cabinet__inner-section">
                  <div class="cabinet__payment-header">
                    <h6 class="cabinet__inner-section-header me-10">Payment method</h6><a class="p sm link" href="#">Change</a>
                  </div>
                    <div class="payment mb-40">
                      <div class="payment__icon"><img class="payment__icon-img" src="./img/payment-card.svg" alt></div>
                      <div class="payment__wrapper">
                        <div class="payment__content">
                          <p class="mb-0">Bank account ending in 8546
                          </p>
                          <p class="sm payment__expiry">Expiry 06/2024</p><a class="p sm link payment__btn" href="#">Edit</a>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="cabinet__inner-section">
                  <h6 class="cabinet__inner-section-header">Price</h6>
                    <div class="parameter">
                      <div class="parameter__header">
                        <p>Next billing date</p>
                      </div>
                      <div class="parameter__content">
                        <p>5/30/2022</p>
                      </div>
                    </div>
                    <div class="parameter">
                      <div class="parameter__header">
                        <p>Monthly amount</p>
                      </div>
                      <div class="parameter__content">
                        <p>$135 010</p>
                      </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="cabinet__btns-wrapper"><a class="btn btn-link btn-xs cabinet__btn px-0" href="#">Cancel subscription</a></div>
          </div>
        </div>
      </div>
    </div>
    <script src="js/vendor.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>

src/pages/order-payment.pug
extends ../templates/template.pug
block content
  .cabinet__wrapper
    +header({
      type: 'user',
      modifier: 'info'
    }).header--inner
    .cabinet
      .cabinet__aside
        .aside
          .aside__top
            a.aside__btn.aside__btn--orders.aside__btn--active(href="cabinet-orders.html") Orders
            a.aside__btn.aside__btn--settings(href="cabinet-settings-data.html") Settings
          .aside__bottom
            a.aside__btn.aside__btn--logout(href="#") Log out
            span.aside__copyright © 2022 Manax. All rights reserved.
      .cabinet__content
        .cabinet__content-header.cabinet__content-header--back
          +back
          .cabinet__content-title.me-10 Exchange
          p.me-10.mb-0 from 5/20/2022 
            span.text-gray-dark 5:16 PM
          .cabinet__content-header-statuses
            .status.status--active Active
        .cabinet__inner.cabinet__inner--default
          .row
            .col-xl-7
              .cabinet__inner-section
                h6.cabinet__inner-section-header General data
                +parameter({
                  header: 'Company',
                  content: 'CompX'
                })
                +parameter({
                  header: 'Domain',
                  content: 'compx.com'
                })
                +parameter({
                  header: 'Language',
                  content: 'English, Português'
                })
              .cabinet__inner-section
                h6.cabinet__inner-section-header Features
                +parameter({
                  header: 'Default features',
                  features: ['Excellent feature with the really long name number one', 'Feature two with short name']
                }).parameter--features
                +parameter({
                  header: 'Basic features',
                  features: ['Feature number one', 'Feature with short name number three']
                }).parameter--features
                .cabinet__inner-section-more
                  +parameter({
                    header: 'Business features',
                    features: ['Feature with short name number one', 'Feature two with one line', 'Feature number three', 'Excellent feature with the really long name number four']
                  }).parameter--features
                a.p.sm.link.cabinet__inner-section-more-btn(href="#") More
              .cabinet__inner-section
                .cabinet__payment-header
                  h6.cabinet__inner-section-header.me-10 Payment method
                  a.p.sm.link(href="#") Change
                +payment({
                  icon: 'card.svg',
                  title: 'Bank account ending in 8546',
                  btns: ['Edit']
                }).mb-40
              .cabinet__inner-section
                h6.cabinet__inner-section-header Price
                +parameter({
                  header: 'Next billing date',
                  content: '5/30/2022'
                })
                +parameter({
                  header: 'Monthly amount',
                  content: '$135 010'
                })
          .cabinet__btns-wrapper
            a.btn.btn-link.btn-xs.cabinet__btn.px-0(href="#") Cancel subscription
