src/pages/order-subscription.pug
extends ../templates/template.pug
block content
  .cabinet__wrapper
    +header({
      type: 'user',
      modifier: 'info'
    }).header--inner
    .cabinet
      .cabinet__aside
        .aside
          .aside__top
            a.aside__btn.aside__btn--orders.aside__btn--active(href="cabinet-orders.html") Orders
            a.aside__btn.aside__btn--settings(href="cabinet-settings-data.html") Settings
          .aside__bottom
            a.aside__btn.aside__btn--logout(href="#") Log out
            span.aside__copyright © 2022 Manax. All rights reserved.
      .cabinet__content
        .cabinet__content-header.cabinet__content-header--back
          +back
          .cabinet__content-title.me-10 Buy a subscription
        .cabinet__inner.cabinet__inner--default
          form.form.form--dark(action="#", method="POST")
            .cabinet__inner-section
              h6.cabinet__inner-section-header General data
              +parameter({
                header: 'Company',
                content: 'CompX'
              })
              +parameter({
                header: 'Domain',
                content: 'compx.com'
              })
              +parameter({
                header: 'Language',
                content: 'English, Português'
              })
            .cabinet__inner-section
              h6.cabinet__inner-section-header Features
              .form__item
                .form__label.form__label--check.form-label You will have next features
                .row
                  .col-xl-4
                    .attribute.p Excellent feature with the really long name number one
                    .attribute.p Feature two with short name
              .form__item
                .form__label.form__label--check.form-label Choose more features if you want
                .form-check.form__check.mb-25
                  input.form-check-input#check1(type='checkbox' value='' required)
                  label.form-check-label.text-white(for='check1') All features
                .row
                  .col-xl-4.form__checks-section
                    .form-check.form-check--minus.form-check--default.form__check
                      input.form-check-input#check1(type='checkbox' value='' required)
                      label.form-check-label(for='check1') Basic
                        span.form-check-label__comment  
                    .form-check.form-check--default.form__check
                      input.form-check-input#check1(type='checkbox' value='' required)
                      label.form-check-label(for='check1') Feature number one
                    .form-check.form-check--default.form__check
                      input.form-check-input#check1(type='checkbox' value='' required)
                      label.form-check-label(for='check1') Excellent feature with the really long name number two
                    .form-check.form-check--default.form__check
                      input.form-check-input#check1(type='checkbox' value='' required)
                      label.form-check-label(for='check1') Feature with short name number three
                    .form-check.form-check--default.form__check
                      input.form-check-input#check1(type='checkbox' value='' required)
                      label.form-check-label(for='check1') Feature four with one line
                  .col-xl-4.form__checks-section
                    .form-check.form-check--default.form__check
                      input.form-check-input#check1(type='checkbox' value='' required)
                      label.form-check-label(for='check1') Basic
                        span.form-check-label__comment + all in basic
                    .form-check.form-check--default.form__check
                      input.form-check-input#check1(type='checkbox' value='' required)
                      label.form-check-label(for='check1') Feature with short name number one
                    .form-check.form-check--default.form__check
                      input.form-check-input#check1(type='checkbox' value='' required)
                      label.form-check-label(for='check1') Feature two with one line
                    .form-check.form-check--default.form__check
                      input.form-check-input#check1(type='checkbox' value='' required)
                      label.form-check-label(for='check1') Feature number three
                    .form-check.form-check--default.form__check
                      input.form-check-input#check1(type='checkbox' value='' required)
                      label.form-check-label(for='check1') Excellent feature with the really long name number four
                  .col-xl-4.form__checks-section
                    .form-check.form-check--default.form__check
                      input.form-check-input#check1(type='checkbox' value='' required)
                      label.form-check-label(for='check1') Enterprise
                        span.form-check-label__comment + all in business
                    .form-check.form-check--default.form__check
                      input.form-check-input#check1(type='checkbox' value='' required)
                      label.form-check-label(for='check1') Excellent feature with the really long name number one
                    .form-check.form-check--default.form__check
                      input.form-check-input#check1(type='checkbox' disabled value='' required)
                      label.form-check-label(for='check1') Feature with short name number two
                        span.form-check-label__comment Not applied in your country
                    .form-check.form-check--default.form__check
                      input.form-check-input#check1(type='checkbox' value='' required)
                      label.form-check-label(for='check1') Feature three with one line
                    .form-check.form-check--default.form__check
                      input.form-check-input#check1(type='checkbox' value='' required)
                      label.form-check-label(for='check1') Feature number four
            .cabinet__inner-section
              h6.cabinet__inner-section-header Payment method
              a.p.sm.link.d-block.mb-25.mb-xl-40(href="#payment", data-fancybox) Add a payment method 
              +modal({
                type: 'payment'
              }).modal--thin#payment
            .cabinet__inner-section
              h6.cabinet__inner-section-header Price
              +parameter({
                header: 'Monthly amount',
                content: '$80 000'
              })
            .cabinet__btns-wrapper
              button.btn.btn-primary.btn-xs.cabinet__btn.px-15(type="submit") Buy a subscription
              a.btn.btn-link.btn-xs.cabinet__btn.px-35(href="#") Cancel

public/order-subscription.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Title</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
  </head>
  <body>
    <div class="cabinet__wrapper">
        <div class="header header--inner">
          <div class="container header__container">
            <div class="header__wrapper">
              <div class="header__left"><a class="logo header__logo" href="index.html"><img class="logo__img" src="./img/logo.svg" alt>
                    <div class="logo__title">MANAX</div></a>
              </div>
              <div class="header__right">
                <div class="header__stats"><a class="header__stats-icon" href="#"><span>12</span></a>
                  <div class="header__stats-content">
                    <p>Next billing 5/22/2022</p>
                    <h6>$29,878,612.13</h6>
                  </div>
                </div>
                <div class="header__info"><a class="header__info-btn header__info-btn--notifications" href="#"></a></div>
                  <div class="user">
                    <div class="user__initials">AK</div>
                    <div class="user__dropdown">
                      <div class="user__dropdown-status user__dropdown-status--verified">Verified</div>
                      <div class="user__dropdown-info">
                        <div class="user__initials">AK</div>
                        <div class="user__dropdown-info-content">
                          <h6>Albert Krungsri</h6>
                          <p>albert@compx.com</p>
                        </div>
                      </div><a class="user__dropdown-item user__dropdown-item--personal" href="#">Personal area</a><a class="user__dropdown-item user__dropdown-item--logout" href="#">Log out</a>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      <div class="cabinet">
        <div class="cabinet__aside">
          <div class="aside">
            <div class="aside__top"><a class="aside__btn aside__btn--orders aside__btn--active" href="cabinet-orders.html">Orders</a><a class="aside__btn aside__btn--settings" href="cabinet-settings-data.html">Settings</a></div>
            <div class="aside__bottom"><a class="aside__btn aside__btn--logout" href="#">Log out</a><span class="aside__copyright">© 2022 Manax. All rights reserved.</span></div>
          </div>
        </div>
        <div class="cabinet__content">
          <div class="cabinet__content-header cabinet__content-header--back"><a class="back" href="#"></a>
            <div class="cabinet__content-title me-10">Buy a subscription</div>
          </div>
          <div class="cabinet__inner cabinet__inner--default">
            <form class="form form--dark" action="#" method="POST">
              <div class="cabinet__inner-section">
                <h6 class="cabinet__inner-section-header">General data</h6>
                  <div class="parameter">
                    <div class="parameter__header">
                      <p>Company</p>
                    </div>
                    <div class="parameter__content">
                      <p>CompX</p>
                    </div>
                  </div>
                  <div class="parameter">
                    <div class="parameter__header">
                      <p>Domain</p>
                    </div>
                    <div class="parameter__content">
                      <p>compx.com</p>
                    </div>
                  </div>
                  <div class="parameter">
                    <div class="parameter__header">
                      <p>Language</p>
                    </div>
                    <div class="parameter__content">
                      <p>English, Português</p>
                    </div>
                  </div>
              </div>
              <div class="cabinet__inner-section">
                <h6 class="cabinet__inner-section-header">Features</h6>
                <div class="form__item">
                  <div class="form__label form__label--check form-label">You will have next features</div>
                  <div class="row">
                    <div class="col-xl-4">
                      <div class="attribute p">Excellent feature with the really long name number one</div>
                      <div class="attribute p">Feature two with short name</div>
                    </div>
                  </div>
                </div>
                <div class="form__item">
                  <div class="form__label form__label--check form-label">Choose more features if you want</div>
                  <div class="form-check form__check mb-25">
                    <input class="form-check-input" id="check1" type="checkbox" value="" required>
                    <label class="form-check-label text-white" for="check1">All features</label>
                  </div>
                  <div class="row">
                    <div class="col-xl-4 form__checks-section">
                      <div class="form-check form-check--minus form-check--default form__check">
                        <input class="form-check-input" id="check1" type="checkbox" value="" required>
                        <label class="form-check-label" for="check1">Basic<span class="form-check-label__comment"> </span></label>
                      </div>
                      <div class="form-check form-check--default form__check">
                        <input class="form-check-input" id="check1" type="checkbox" value="" required>
                        <label class="form-check-label" for="check1">Feature number one</label>
                      </div>
                      <div class="form-check form-check--default form__check">
                        <input class="form-check-input" id="check1" type="checkbox" value="" required>
                        <label class="form-check-label" for="check1">Excellent feature with the really long name number two</label>
                      </div>
                      <div class="form-check form-check--default form__check">
                        <input class="form-check-input" id="check1" type="checkbox" value="" required>
                        <label class="form-check-label" for="check1">Feature with short name number three</label>
                      </div>
                      <div class="form-check form-check--default form__check">
                        <input class="form-check-input" id="check1" type="checkbox" value="" required>
                        <label class="form-check-label" for="check1">Feature four with one line</label>
                      </div>
                    </div>
                    <div class="col-xl-4 form__checks-section">
                      <div class="form-check form-check--default form__check">
                        <input class="form-check-input" id="check1" type="checkbox" value="" required>
                        <label class="form-check-label" for="check1">Basic<span class="form-check-label__comment">+ all in basic</span></label>
                      </div>
                      <div class="form-check form-check--default form__check">
                        <input class="form-check-input" id="check1" type="checkbox" value="" required>
                        <label class="form-check-label" for="check1">Feature with short name number one</label>
                      </div>
                      <div class="form-check form-check--default form__check">
                        <input class="form-check-input" id="check1" type="checkbox" value="" required>
                        <label class="form-check-label" for="check1">Feature two with one line</label>
                      </div>
                      <div class="form-check form-check--default form__check">
                        <input class="form-check-input" id="check1" type="checkbox" value="" required>
                        <label class="form-check-label" for="check1">Feature number three</label>
                      </div>
                      <div class="form-check form-check--default form__check">
                        <input class="form-check-input" id="check1" type="checkbox" value="" required>
                        <label class="form-check-label" for="check1">Excellent feature with the really long name number four</label>
                      </div>
                    </div>
                    <div class="col-xl-4 form__checks-section">
                      <div class="form-check form-check--default form__check">
                        <input class="form-check-input" id="check1" type="checkbox" value="" required>
                        <label class="form-check-label" for="check1">Enterprise<span class="form-check-label__comment">+ all in business</span></label>
                      </div>
                      <div class="form-check form-check--default form__check">
                        <input class="form-check-input" id="check1" type="checkbox" value="" required>
                        <label class="form-check-label" for="check1">Excellent feature with the really long name number one</label>
                      </div>
                      <div class="form-check form-check--default form__check">
                        <input class="form-check-input" id="check1" type="checkbox" disabled value="" required>
                        <label class="form-check-label" for="check1">Feature with short name number two<span class="form-check-label__comment">Not applied in your country</span></label>
                      </div>
                      <div class="form-check form-check--default form__check">
                        <input class="form-check-input" id="check1" type="checkbox" value="" required>
                        <label class="form-check-label" for="check1">Feature three with one line</label>
                      </div>
                      <div class="form-check form-check--default form__check">
                        <input class="form-check-input" id="check1" type="checkbox" value="" required>
                        <label class="form-check-label" for="check1">Feature number four</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="cabinet__inner-section">
                <h6 class="cabinet__inner-section-header">Payment method</h6><a class="p sm link d-block mb-25 mb-xl-40" href="#payment" data-fancybox>Add a payment method </a>
                  <div class="modal modal--thin" id="payment">
                    <form class="form" action="#" method="POST">
                      <h6 class="mb-25">Choose a payment method</h6>
                        <label class="method" for="payment1"><span class="form-check"><span class="method__icon"><img class="method__icon-img" src="./img/payment-card.svg" alt></span>
                            <input class="form-check-input" type="radio" id="payment1" name="payment"><span class="form-check-label">Bank account ending in 8955</span></span></label>
                        <label class="method" for="payment2"><span class="form-check"><span class="method__icon"><img class="method__icon-img" src="./img/payment-card.svg" alt></span>
                            <input class="form-check-input" type="radio" id="payment2" name="payment"><span class="form-check-label">Another bank payment</span></span></label>
                        <label class="method" for="payment3"><span class="form-check"><span class="method__icon"><img class="method__icon-img" src="./img/payment-wise.png" alt></span>
                            <input class="form-check-input" type="radio" id="payment3" name="payment"><span class="form-check-label">Wise</span></span></label>
                        <label class="method" for="payment4"><span class="form-check"><span class="method__icon"><img class="method__icon-img" src="./img/payment-paypal.svg" alt></span>
                            <input class="form-check-input" type="radio" id="payment4" name="payment"><span class="form-check-label">PayPal</span></span></label>
                        <label class="method" for="payment5"><span class="form-check"><span class="method__icon"><img class="method__icon-img" src="./img/payment-crypto.svg" alt></span>
                            <input class="form-check-input" type="radio" id="payment5" name="payment"><span class="form-check-label">Crypto wallet</span></span></label>
                      <button class="btn btn-primary btn-xs mt-15 w-100" type="submit">Choose</button>
                    </form>
                  </div>
              </div>
              <div class="cabinet__inner-section">
                <h6 class="cabinet__inner-section-header">Price</h6>
                  <div class="parameter">
                    <div class="parameter__header">
                      <p>Monthly amount</p>
                    </div>
                    <div class="parameter__content">
                      <p>$80 000</p>
                    </div>
                  </div>
              </div>
              <div class="cabinet__btns-wrapper">
                <button class="btn btn-primary btn-xs cabinet__btn px-15" type="submit">Buy a subscription</button><a class="btn btn-link btn-xs cabinet__btn px-35" href="#">Cancel</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script src="js/vendor.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>
