src/pages/registration.pug
extends ../templates/template.pug
block content
  .enter
    +header({
      type: 'enter',
      btnLink: 'Have an account?',
      btnText: true
    }).header--absolute.header--login
    .container
      .enter__content
        h4.enter__header Sign up
        .enter__subheader to open your account
        form.form.form--dark(action="#", method="POST")
          .form__item
            .form__label.form-label Full name
            input.input.form-control(type="text", name="name", placeholder="Jone Doe", required)
          .form__item.form__item--optional
            .form__label.form-label Company
            input.input.form-control(type="text", name="company", placeholder="Company name")
          .form__item
            .form__label.form-label Email
            input.input.form-control(type="email", name="email", placeholder="you@company.com", required)
          .form__item.form__item--optional
            .form__label.form-label Phone number
            .form__phone
              select.form-select.form__select.form__phone-select(required='')
                option(selected value='+1') US
                option(value='+380') UA
              input.input.form-control.form__phone-input(type="text", placeholder="+1 (555) 000-0000", name="phone")
          .form__item.form__item--optional
            .form__label.form-label Telegram
            input.input.form-control(type="text", name="company", placeholder="@username")
          .form__item
            .form__label.form-label Password
            .form__item-password
              input.input.form-control(type="password", name="email", required)
              a.form__password-view(href="#")
            .form__password-strength.form__password-strength--active 10+ characters
            .form__password-strength uppercase and lowercase letters
            .form__password-strength a number
          .form-check.form__check.form__check--enter
            input.form-check-input#agreement(type='checkbox' value='' required)
            label.form-check-label(for='agreement') You agree to our friendly 
              a(href="#") privacy policy
          button.btn.btn-primary.w-100.mt-15(type="submit") Get started
    .enter__bottom
      .container
        p.sm.enter__footer Contact us at 
          a(href="mailto:support@manax.net") support@manax.net 
          | if you have problems

public/registration.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Title</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
  </head>
  <body>
    <div class="enter">
        <div class="header header--absolute header--login">
          <div class="container header__container">
            <div class="header__wrapper">
              <div class="header__left"><a class="logo header__logo" href="index.html"><img class="logo__img" src="./img/logo.svg" alt>
                    <div class="logo__title">MANAX</div></a>
              </div>
              <div class="header__right">
                <p class="text-light header__right-title mb-0 me-25">Have an account?</p><a class="btn btn-primary btn-sm header__btn" href="#">Sign in</a>
              </div>
            </div>
          </div>
        </div>
      <div class="container">
        <div class="enter__content">
          <h4 class="enter__header">Sign up</h4>
          <div class="enter__subheader">to open your account</div>
          <form class="form form--dark" action="#" method="POST">
            <div class="form__item">
              <div class="form__label form-label">Full name</div>
              <input class="input form-control" type="text" name="name" placeholder="Jone Doe" required>
            </div>
            <div class="form__item form__item--optional">
              <div class="form__label form-label">Company</div>
              <input class="input form-control" type="text" name="company" placeholder="Company name">
            </div>
            <div class="form__item">
              <div class="form__label form-label">Email</div>
              <input class="input form-control" type="email" name="email" placeholder="you@company.com" required>
            </div>
            <div class="form__item form__item--optional">
              <div class="form__label form-label">Phone number</div>
              <div class="form__phone">
                <select class="form-select form__select form__phone-select" required="">
                  <option selected value="+1">US</option>
                  <option value="+380">UA</option>
                </select>
                <input class="input form-control form__phone-input" type="text" placeholder="+1 (555) 000-0000" name="phone">
              </div>
            </div>
            <div class="form__item form__item--optional">
              <div class="form__label form-label">Telegram</div>
              <input class="input form-control" type="text" name="company" placeholder="@username">
            </div>
            <div class="form__item">
              <div class="form__label form-label">Password</div>
              <div class="form__item-password">
                <input class="input form-control" type="password" name="email" required><a class="form__password-view" href="#"></a>
              </div>
              <div class="form__password-strength form__password-strength--active">10+ characters</div>
              <div class="form__password-strength">uppercase and lowercase letters</div>
              <div class="form__password-strength">a number</div>
            </div>
            <div class="form-check form__check form__check--enter">
              <input class="form-check-input" id="agreement" type="checkbox" value="" required>
              <label class="form-check-label" for="agreement">You agree to our friendly <a href="#">privacy policy</a></label>
            </div>
            <button class="btn btn-primary w-100 mt-15" type="submit">Get started</button>
          </form>
        </div>
      </div>
      <div class="enter__bottom">
        <div class="container">
          <p class="sm enter__footer">Contact us at <a href="mailto:support@manax.net">support@manax.net </a>if you have problems</p>
        </div>
      </div>
    </div>
    <script src="js/vendor.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>
