src/pages/security-google.pug
extends ../templates/template.pug
block content
  .enter
    +header({
      type: 'enter',
      btnLink: 'Not a member?'
    }).header--absolute.header--login
    .container
      +confirmation({
        header: 'Security verification',
        subheader: "Enter a six digit code from Google authenticator app",
        inputs: 6,
        bottomLink: 'Switch to email verification',
        modifier: 'security'
      }).confirmation_Security
    .enter__bottom
      .container
        p.sm.enter__footer Contact us at 
          a(href="mailto:support@manax.net") support@manax.net 
          | if you have problems

public/security-google.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Title</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
  </head>
  <body>
    <div class="enter">
        <div class="header header--absolute header--login">
          <div class="container header__container">
            <div class="header__wrapper">
              <div class="header__left"><a class="logo header__logo" href="index.html"><img class="logo__img" src="./img/logo.svg" alt>
                    <div class="logo__title">MANAX</div></a>
              </div>
              <div class="header__right">
                <p class="text-light header__right-title mb-0 me-25">Not a member?</p><a class="btn btn-primary btn-sm header__btn" href="#">Sign up</a>
              </div>
            </div>
          </div>
        </div>
      <div class="container">
          <div class="confirmation confirmation_Security">
            <div class="confirmationHeader">
              <h6>Security verification</h6>
              <p>Enter a six digit code from Google authenticator app</p>
            </div>
            <form action="#" method="GET">
              <input type="text" maxlength="1">
              <input type="text" maxlength="1">
              <input type="text" maxlength="1">
              <input type="text" maxlength="1">
              <input type="text" maxlength="1">
              <input type="text" maxlength="1">
            </form>
            <div class="confirmationBottom">
              <div class="confirmationAction mb-30"><a class="link" href="#">Switch to email verification</a></div><a class="btn btn-primary btn-xs w-100 confirmationNext" href="#" disabled>Submit</a>
            </div>
          </div>
      </div>
      <div class="enter__bottom">
        <div class="container">
          <p class="sm enter__footer">Contact us at <a href="mailto:support@manax.net">support@manax.net </a>if you have problems</p>
        </div>
      </div>
    </div>
    <script src="js/vendor.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>
