src/pages/settings-new-security.pug
extends ../templates/template.pug
block content
  +header({
    type: 'user'
  }).header--inner
  .cabinet
    .cabinet__aside
      .aside
        .aside__top
          a.link.link_Arrow.asideBack(href="#") Back
          .aside__subheader Settings
          .asideItem
            a.aside__btn.aside__btn--info(href="#") Personal info
          .asideItem
            a.aside__btn.aside__btn--subheader.aside__btn--security.aside__btn--active(href="#") Security
            .asideSubmenu
              a(href="#") Two-factor authentication (2FA)
              a(href="#") Password
              a(href="#") Account activity
          .asideItem
            a.aside__btn.aside__btn--identification(href="#") Identification
          .asideItem
            a.aside__btn.aside__btn--payment(href="#") Payment
        .aside__bottom
          span.aside__copyright © 2022 Manax. All rights reserved.
    .cabinet__content.cabinet__content--dashboard
      .cabinet__content-header.cabinet__content-header--dashboard
        .cabinet__content-title Security
      .dashboard
        .dashboardItem.dashboardItem_Half.dashboardItem_Column
          +security({
            type: 'verified'
          }).module
          +password.dashboardItemInner.module
        .dashboardItem.dashboardItem_Half
          +activity.module

public/settings-new-security.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Title</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
  </head>
  <body>
      <div class="header header--inner">
        <div class="container header__container">
          <div class="header__wrapper">
            <div class="header__left"><a class="logo header__logo" href="index.html"><img class="logo__img" src="./img/logo.svg" alt>
                  <div class="logo__title">MANAX</div></a>
            </div>
            <div class="header__right">
              <div class="header__info"><a class="header__info-btn header__info-btn--notifications" href="#"></a></div>
                <div class="user">
                  <div class="user__initials">AK</div>
                  <div class="user__dropdown">
                    <div class="user__dropdown-status user__dropdown-status--verified">Verified</div>
                    <div class="user__dropdown-info">
                      <div class="user__initials">AK</div>
                      <div class="user__dropdown-info-content">
                        <h6>Albert Krungsri</h6>
                        <p>albert@compx.com</p>
                      </div>
                    </div><a class="user__dropdown-item user__dropdown-item--personal" href="#">Personal area</a><a class="user__dropdown-item user__dropdown-item--logout" href="#">Log out</a>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    <div class="cabinet">
      <div class="cabinet__aside">
        <div class="aside">
          <div class="aside__top"><a class="link link_Arrow asideBack" href="#">Back</a>
            <div class="aside__subheader">Settings</div>
            <div class="asideItem"><a class="aside__btn aside__btn--info" href="#">Personal info</a></div>
            <div class="asideItem"><a class="aside__btn aside__btn--subheader aside__btn--security aside__btn--active" href="#">Security</a>
              <div class="asideSubmenu"><a href="#">Two-factor authentication (2FA)</a><a href="#">Password</a><a href="#">Account activity</a></div>
            </div>
            <div class="asideItem"><a class="aside__btn aside__btn--identification" href="#">Identification</a></div>
            <div class="asideItem"><a class="aside__btn aside__btn--payment" href="#">Payment</a></div>
          </div>
          <div class="aside__bottom"><span class="aside__copyright">© 2022 Manax. All rights reserved.</span></div>
        </div>
      </div>
      <div class="cabinet__content cabinet__content--dashboard">
        <div class="cabinet__content-header cabinet__content-header--dashboard">
          <div class="cabinet__content-title">Security</div>
        </div>
        <div class="dashboard">
          <div class="dashboardItem dashboardItem_Half dashboardItem_Column">
              <div class="security module">
                <div class="securityHeader">
                  <h6>Increase your account security</h6><a class="link link_Arrow" href="#">Security settings</a>
                </div>
                <div class="securityContent">
                  <div class="attribute attribute_Active p sm">Email confirmed</div>
                  <div class="attribute attribute_Active p sm">Identity verification comleted</div>
                  <div class="attribute p sm">Confirm phone number<a class="link" href="#">Confirm</a></div>
                  <div class="attribute p sm">Enable 2FA<a class="link" href="#">Enable</a></div>
                </div>
              </div>
              <div class="password dashboardItemInner module">
                <div class="passwordHeader">
                  <h6>Password</h6>
                  <p>Login password is used to log in to your account</p>
                </div><a class="link link_Arrow" href="#">Change password</a>
              </div>
          </div>
          <div class="dashboardItem dashboardItem_Half">
              <div class="activity module">
                <div class="activityHeader">
                  <h6>Account activity</h6><a class="link link_Arrow" href="#">All activities</a>
                </div>
                <div class="activityContent">
                    <div class="activityItem">
                      <div class="activityItemLeft">
                        <p>Web</p>
                        <p>2022-06-09 09:49:18</p>
                      </div>
                      <div class="activityItemRight">
                        <p>IP: 51.12.79.58</p>
                        <p>New York, Unated States</p>
                      </div>
                    </div>
                    <div class="activityItem">
                      <div class="activityItemLeft">
                        <p>Mobile</p>
                        <p>2022-06-09 09:49:18</p>
                      </div>
                      <div class="activityItemRight">
                        <p>IP: 51.12.79.58</p>
                        <p>New York, Unated States</p>
                      </div>
                    </div>
                    <div class="activityItem">
                      <div class="activityItemLeft">
                        <p>Web</p>
                        <p>2022-06-09 09:49:18</p>
                      </div>
                      <div class="activityItemRight">
                        <p>IP: 51.12.79.58</p>
                        <p>New York, Unated States</p>
                      </div>
                    </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
    <script src="js/vendor.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>
