src/pages/settings-new-activity.pug
extends ../templates/template.pug
block content
  +header({
    type: 'user'
  }).header--inner
  .cabinet
    .cabinet__aside
      .aside
        .aside__top
          a.link.link_Arrow.asideBack(href="#") Back
          .aside__subheader Settings
          .asideItem
            a.aside__btn.aside__btn--info(href="#") Personal info
          .asideItem
            a.aside__btn.aside__btn--security(href="#") Security
            .asideSubmenu.asideSubmenu_Active
              a.asideSublink(href="#") Two-factor authentication (2FA)
              a.asideSublink(href="#") Password
              a.asideSublink.asideSublink_Active(href="#") Account activity
          .asideItem
            a.aside__btn.aside__btn--identification(href="#") Identification
          .asideItem
            a.aside__btn.aside__btn--payment(href="#") Payment
        .aside__bottom
          span.aside__copyright © 2022 Manax. All rights reserved.
    .cabinet__content
      .cabinet__content-header
        .cabinet__content-title Account activity
      .cabinet__inner.cabinet__inner--standard
        +board

public/settings-new-activity.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Title</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
  </head>
  <body>
      <div class="header header--inner">
        <div class="container header__container">
          <div class="header__wrapper">
            <div class="header__left"><a class="logo header__logo" href="index.html"><img class="logo__img" src="./img/logo.svg" alt>
                  <div class="logo__title">MANAX</div></a>
            </div>
            <div class="header__right">
              <div class="header__info"><a class="header__info-btn header__info-btn--notifications" href="#"></a></div>
                <div class="user">
                  <div class="user__initials">AK</div>
                  <div class="user__dropdown">
                    <div class="user__dropdown-status user__dropdown-status--verified">Verified</div>
                    <div class="user__dropdown-info">
                      <div class="user__initials">AK</div>
                      <div class="user__dropdown-info-content">
                        <h6>Albert Krungsri</h6>
                        <p>albert@compx.com</p>
                      </div>
                    </div><a class="user__dropdown-item user__dropdown-item--personal" href="#">Personal area</a><a class="user__dropdown-item user__dropdown-item--logout" href="#">Log out</a>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    <div class="cabinet">
      <div class="cabinet__aside">
        <div class="aside">
          <div class="aside__top"><a class="link link_Arrow asideBack" href="#">Back</a>
            <div class="aside__subheader">Settings</div>
            <div class="asideItem"><a class="aside__btn aside__btn--info" href="#">Personal info</a></div>
            <div class="asideItem"><a class="aside__btn aside__btn--security" href="#">Security</a>
              <div class="asideSubmenu asideSubmenu_Active"><a class="asideSublink" href="#">Two-factor authentication (2FA)</a><a class="asideSublink" href="#">Password</a><a class="asideSublink asideSublink_Active" href="#">Account activity</a></div>
            </div>
            <div class="asideItem"><a class="aside__btn aside__btn--identification" href="#">Identification</a></div>
            <div class="asideItem"><a class="aside__btn aside__btn--payment" href="#">Payment</a></div>
          </div>
          <div class="aside__bottom"><span class="aside__copyright">© 2022 Manax. All rights reserved.</span></div>
        </div>
      </div>
      <div class="cabinet__content">
        <div class="cabinet__content-header">
          <div class="cabinet__content-title">Account activity</div>
        </div>
        <div class="cabinet__inner cabinet__inner--standard">
            <div class="board">
              <div class="boardRow boardRow_Header">
                <div class="boardItem">Date</div>
                <div class="boardItem">Source</div>
                <div class="boardItem">IP address</div>
                <div class="boardItem">Time zone</div>
              </div>
              <div class="boardRow">
                <div class="boardItem" data-header="Date">5/10/2022 <span>10:08 AM</span></div>
                <div class="boardItem" data-header="Source">Web</div>
                <div class="boardItem" data-header="IP address">IP: 51.12.79.58</div>
                <div class="boardItem" data-header="Time zone">New York, Unated States</div>
              </div>
              <div class="boardRow">
                <div class="boardItem" data-header="Date">5/10/2022 <span>10:08 AM</span></div>
                <div class="boardItem" data-header="Source">Web</div>
                <div class="boardItem" data-header="IP address">IP: 51.12.79.58</div>
                <div class="boardItem" data-header="Time zone">New York, Unated States</div>
              </div>
              <div class="boardRow">
                <div class="boardItem" data-header="Date">5/10/2022 <span>10:08 AM</span></div>
                <div class="boardItem" data-header="Source">Web</div>
                <div class="boardItem" data-header="IP address">IP: 51.12.79.58</div>
                <div class="boardItem" data-header="Time zone">New York, Unated States</div>
              </div>
              <div class="boardRow">
                <div class="boardItem" data-header="Date">5/10/2022 <span>10:08 AM</span></div>
                <div class="boardItem" data-header="Source">Web</div>
                <div class="boardItem" data-header="IP address">IP: 51.12.79.58</div>
                <div class="boardItem" data-header="Time zone">New York, Unated States</div>
              </div>
            </div>
        </div>
      </div>
    </div>
    <script src="js/vendor.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>
