src/pages/settings-new-payments.pug
extends ../templates/template.pug
block content
  +header({
    type: 'user'
  }).header--inner
  .cabinet
    .cabinet__aside
      .aside
        .aside__top
          a.link.link_Arrow.asideBack(href="#") Back
          .aside__subheader Settings
          .asideItem
            a.aside__btn.aside__btn--info(href="#") Personal info
          .asideItem
            a.aside__btn.aside__btn--subheader.aside__btn--security(href="#") Security
            .asideSubmenu
              a(href="#") Two-factor authentication (2FA)
              a(href="#") Password
              a(href="#") Account activity
          .asideItem
            a.aside__btn.aside__btn--identification(href="#") Identification
          .asideItem
            a.aside__btn.aside__btn--payment.aside__btn--active(href="#") Payment
        .aside__bottom
          span.aside__copyright © 2022 Manax. All rights reserved.
    .cabinet__content
      .cabinet__content-header
        .cabinet__content-title Payment
      .cabinet__inner.cabinet__inner--default
        .cabinetInnerWrapper
          form.form.form--dark(action="#", method="POST")
            .cabinet__inner-section
              h6.cabinet__inner-section-header Manage payment method
              +payment({
                icon: 'cash.svg',
                title: 'Balance',
                subtitle: '$ 0.00',
                btns: ['Deposit'],
                radio: 'balance'
              }).payment_Radio.mb-20
              +payment({
                icon: 'card.svg',
                title: 'Bank account ending in 8546',
                subtitle: 'Expiry 06/2024',
                btns: ['Delete', 'Edit'],
                radio: 'bank'
              }).payment_Radio.mb-25
              +payment({
                icon: 'paypal.svg',
                title: 'PayPal',
                subheader: 'PayPal Visa ending 3546',
                subtitle: 'Expiry 06/2024',
                btns: ['Delete', 'Edit'],
                radio: 'paypal'
              }).payment_Radio.mb-25
              a.p.link.link_Plus.mb-0(href="#paymentNew", data-fancybox) Add a payment method
          +modal({
            type: 'paymentNew'
          }).modal--thin#paymentNew

public/settings-new-payments.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Title</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
  </head>
  <body>
      <div class="header header--inner">
        <div class="container header__container">
          <div class="header__wrapper">
            <div class="header__left"><a class="logo header__logo" href="index.html"><img class="logo__img" src="./img/logo.svg" alt>
                  <div class="logo__title">MANAX</div></a>
            </div>
            <div class="header__right">
              <div class="header__info"><a class="header__info-btn header__info-btn--notifications" href="#"></a></div>
                <div class="user">
                  <div class="user__initials">AK</div>
                  <div class="user__dropdown">
                    <div class="user__dropdown-status user__dropdown-status--verified">Verified</div>
                    <div class="user__dropdown-info">
                      <div class="user__initials">AK</div>
                      <div class="user__dropdown-info-content">
                        <h6>Albert Krungsri</h6>
                        <p>albert@compx.com</p>
                      </div>
                    </div><a class="user__dropdown-item user__dropdown-item--personal" href="#">Personal area</a><a class="user__dropdown-item user__dropdown-item--logout" href="#">Log out</a>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    <div class="cabinet">
      <div class="cabinet__aside">
        <div class="aside">
          <div class="aside__top"><a class="link link_Arrow asideBack" href="#">Back</a>
            <div class="aside__subheader">Settings</div>
            <div class="asideItem"><a class="aside__btn aside__btn--info" href="#">Personal info</a></div>
            <div class="asideItem"><a class="aside__btn aside__btn--subheader aside__btn--security" href="#">Security</a>
              <div class="asideSubmenu"><a href="#">Two-factor authentication (2FA)</a><a href="#">Password</a><a href="#">Account activity</a></div>
            </div>
            <div class="asideItem"><a class="aside__btn aside__btn--identification" href="#">Identification</a></div>
            <div class="asideItem"><a class="aside__btn aside__btn--payment aside__btn--active" href="#">Payment</a></div>
          </div>
          <div class="aside__bottom"><span class="aside__copyright">© 2022 Manax. All rights reserved.</span></div>
        </div>
      </div>
      <div class="cabinet__content">
        <div class="cabinet__content-header">
          <div class="cabinet__content-title">Payment</div>
        </div>
        <div class="cabinet__inner cabinet__inner--default">
          <div class="cabinetInnerWrapper">
            <form class="form form--dark" action="#" method="POST">
              <div class="cabinet__inner-section">
                <h6 class="cabinet__inner-section-header">Manage payment method</h6>
                  <div class="payment payment_Radio mb-20">
                    <div class="payment__icon"><img class="payment__icon-img" src="./img/payment-cash.svg" alt></div>
                    <div class="payment__wrapper">
                      <div class="payment__content">
                        <p class="mb-0">Balance
                        </p>
                        <p class="sm payment__expiry">$ 0.00</p><a class="p sm link payment__btn" href="#">Deposit</a>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" id="balance" type="radio" name="paymentDefault">
                        <label class="form-check-label" for="balance">Set as default</label>
                      </div>
                    </div>
                  </div>
                  <div class="payment payment_Radio mb-25">
                    <div class="payment__icon"><img class="payment__icon-img" src="./img/payment-card.svg" alt></div>
                    <div class="payment__wrapper">
                      <div class="payment__content">
                        <p class="mb-0">Bank account ending in 8546
                        </p>
                        <p class="sm payment__expiry">Expiry 06/2024</p><a class="p sm link link--gray payment__btn" href="#">Delete</a><a class="p sm link payment__btn" href="#">Edit</a>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" id="bank" type="radio" checked name="paymentDefault">
                        <label class="form-check-label" for="bank">Set as default</label>
                      </div>
                    </div>
                  </div>
                  <div class="payment payment_Radio mb-25">
                    <div class="payment__icon"><img class="payment__icon-img" src="./img/payment-paypal.svg" alt></div>
                    <div class="payment__wrapper">
                      <div class="payment__content">
                        <p class="mb-0">PayPal<span class="payment__subheader">PayPal Visa ending 3546</span>
                        </p>
                        <p class="sm payment__expiry">Expiry 06/2024</p><a class="p sm link link--gray payment__btn" href="#">Delete</a><a class="p sm link payment__btn" href="#">Edit</a>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" id="paypal" type="radio" name="paymentDefault">
                        <label class="form-check-label" for="paypal">Set as default</label>
                      </div>
                    </div>
                  </div><a class="p link link_Plus mb-0" href="#paymentNew" data-fancybox>Add a payment method</a>
              </div>
            </form>
              <div class="modal modal--thin" id="paymentNew">
                <form class="form" action="#" method="POST">
                  <h6 class="mb-25">Choose a payment method</h6>
                    <label class="method" for="payment1"><span class="form-check"><span class="method__icon"><img class="method__icon-img" src="./img/payment-card.svg" alt></span>
                        <input class="form-check-input" type="radio" id="payment1" name="payment"><span class="form-check-label">Bank payment</span></span></label>
                    <label class="method" for="payment3"><span class="form-check"><span class="method__icon"><img class="method__icon-img" src="./img/payment-wise.png" alt></span>
                        <input class="form-check-input" type="radio" id="payment3" name="payment"><span class="form-check-label">Wise</span></span></label>
                    <label class="method" for="payment4"><span class="form-check"><span class="method__icon"><img class="method__icon-img" src="./img/payment-paypal.svg" alt></span>
                        <input class="form-check-input" type="radio" id="payment4" name="payment"><span class="form-check-label">PayPal</span></span></label>
                    <label class="method" for="payment5"><span class="form-check"><span class="method__icon"><img class="method__icon-img" src="./img/payment-crypto.svg" alt></span>
                        <input class="form-check-input" type="radio" id="payment5" name="payment"><span class="form-check-label">Crypto wallet</span></span></label>
                  <button class="btn btn-primary btn-xs mt-15 w-100" type="submit">Choose</button>
                </form>
              </div>
          </div>
        </div>
      </div>
    </div>
    <script src="js/vendor.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>
