src/pages/settings-payments.pug
extends ../templates/template.pug
block content
  +header({
    type: 'user'
  }).header--inner
  .cabinet
    .cabinet__aside
      .aside
        .aside__top
          a.aside__btn.aside__btn--orders(href="cabinet-orders.html") Orders
          a.aside__btn.aside__btn--settings.aside__btn--active(href="cabinet-settings.html") Settings
        .aside__bottom
          a.aside__btn.aside__btn--logout(href="#") Log out
          span.aside__copyright © 2022 Manax. All rights reserved.
    .cabinet__content
      .cabinet__content-header
        .cabinet__content-title Settings
      .cabinet__inner
        .cabinet__inner-aside
          a.cabinet__inner-link(href="cabinet-settings-data.html") Personal data
          a.cabinet__inner-link(href="cabinet-settings-password.html") Password
          a.cabinet__inner-link.cabinet__inner-link--active(href="cabinet-settings-data.html") Payment method
        .cabinet__inner-content.cabinet__inner--default
          .row
            .col-xl-7
              .cabinet__inner-section
                h6.cabinet__inner-section-header Manage payment method
                +payment({
                  icon: 'card.svg',
                  title: 'Bank account ending in 8546',
                  btns: ['Delete', 'Edit']
                }).mb-20
                +payment({
                  icon: 'paypal.svg',
                  title: 'Paypal',
                  subheader: 'Visa ending 3546',
                  btns: ['Delete', 'Edit']
                }).mb-25
                a.p.link.mb-0(href="#") Add a payment method

public/settings-payments.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Title</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
  </head>
  <body>
      <div class="header header--inner">
        <div class="container header__container">
          <div class="header__wrapper">
            <div class="header__left"><a class="logo header__logo" href="index.html"><img class="logo__img" src="./img/logo.svg" alt>
                  <div class="logo__title">MANAX</div></a>
            </div>
            <div class="header__right">
              <div class="header__info"><a class="header__info-btn header__info-btn--notifications" href="#"></a></div>
                <div class="user">
                  <div class="user__initials">AK</div>
                  <div class="user__dropdown">
                    <div class="user__dropdown-status user__dropdown-status--verified">Verified</div>
                    <div class="user__dropdown-info">
                      <div class="user__initials">AK</div>
                      <div class="user__dropdown-info-content">
                        <h6>Albert Krungsri</h6>
                        <p>albert@compx.com</p>
                      </div>
                    </div><a class="user__dropdown-item user__dropdown-item--personal" href="#">Personal area</a><a class="user__dropdown-item user__dropdown-item--logout" href="#">Log out</a>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    <div class="cabinet">
      <div class="cabinet__aside">
        <div class="aside">
          <div class="aside__top"><a class="aside__btn aside__btn--orders" href="cabinet-orders.html">Orders</a><a class="aside__btn aside__btn--settings aside__btn--active" href="cabinet-settings.html">Settings</a></div>
          <div class="aside__bottom"><a class="aside__btn aside__btn--logout" href="#">Log out</a><span class="aside__copyright">© 2022 Manax. All rights reserved.</span></div>
        </div>
      </div>
      <div class="cabinet__content">
        <div class="cabinet__content-header">
          <div class="cabinet__content-title">Settings</div>
        </div>
        <div class="cabinet__inner">
          <div class="cabinet__inner-aside"><a class="cabinet__inner-link" href="cabinet-settings-data.html">Personal data</a><a class="cabinet__inner-link" href="cabinet-settings-password.html">Password</a><a class="cabinet__inner-link cabinet__inner-link--active" href="cabinet-settings-data.html">Payment method</a></div>
          <div class="cabinet__inner-content cabinet__inner--default">
            <div class="row">
              <div class="col-xl-7">
                <div class="cabinet__inner-section">
                  <h6 class="cabinet__inner-section-header">Manage payment method</h6>
                    <div class="payment mb-20">
                      <div class="payment__icon"><img class="payment__icon-img" src="./img/payment-card.svg" alt></div>
                      <div class="payment__wrapper">
                        <div class="payment__content">
                          <p class="mb-0">Bank account ending in 8546
                          </p>
                          <p class="sm payment__expiry">Expiry 06/2024</p><a class="p sm link link--gray payment__btn" href="#">Delete</a><a class="p sm link payment__btn" href="#">Edit</a>
                        </div>
                      </div>
                    </div>
                    <div class="payment mb-25">
                      <div class="payment__icon"><img class="payment__icon-img" src="./img/payment-paypal.svg" alt></div>
                      <div class="payment__wrapper">
                        <div class="payment__content">
                          <p class="mb-0">Paypal<span class="payment__subheader">Visa ending 3546</span>
                          </p>
                          <p class="sm payment__expiry">Expiry 06/2024</p><a class="p sm link link--gray payment__btn" href="#">Delete</a><a class="p sm link payment__btn" href="#">Edit</a>
                        </div>
                      </div>
                    </div><a class="p link mb-0" href="#">Add a payment method</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="js/vendor.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>
