public/settings-identification.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Title</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
  </head>
  <body>
      <div class="header header--inner">
        <div class="container header__container">
          <div class="header__wrapper">
            <div class="header__left"><a class="logo header__logo" href="index.html"><img class="logo__img" src="./img/logo.svg" alt>
                  <div class="logo__title">MANAX</div></a>
            </div>
            <div class="header__right">
              <div class="header__info"><a class="header__info-btn header__info-btn--notifications" href="#"></a></div>
                <div class="user">
                  <div class="user__initials">AK</div>
                  <div class="user__dropdown">
                    <div class="user__dropdown-status user__dropdown-status--verified">Verified</div>
                    <div class="user__dropdown-info">
                      <div class="user__initials">AK</div>
                      <div class="user__dropdown-info-content">
                        <h6>Albert Krungsri</h6>
                        <p>albert@compx.com</p>
                      </div>
                    </div><a class="user__dropdown-item user__dropdown-item--personal" href="#">Personal area</a><a class="user__dropdown-item user__dropdown-item--logout" href="#">Log out</a>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    <div class="cabinet">
      <div class="cabinet__aside">
        <div class="aside">
          <div class="aside__top"><a class="link link_Arrow asideBack" href="#">Back</a>
            <div class="aside__subheader">Settings</div>
            <div class="asideItem"><a class="aside__btn aside__btn--info" href="#">Personal info</a></div>
            <div class="asideItem"><a class="aside__btn aside__btn--subheader aside__btn--security" href="#">Security</a>
              <div class="asideSubmenu"><a href="#">Two-factor authentication (2FA)</a><a href="#">Password</a><a href="#">Account activity</a></div>
            </div>
            <div class="asideItem"><a class="aside__btn aside__btn--identification aside__btn--active" href="#">Identification</a></div>
            <div class="asideItem"><a class="aside__btn aside__btn--payment" href="#">Payment</a></div>
          </div>
          <div class="aside__bottom"><span class="aside__copyright">© 2022 Manax. All rights reserved.</span></div>
        </div>
      </div>
      <div class="cabinet__content">
        <div class="cabinet__content-header cabinet__content-header--column">
          <div class="cabinet__content-title">Identification</div>
          <div class="cabinetContentSubheader">Complete identity veryfication with KYC to use all services of Manax</div>
        </div>
        <div class="cabinet__inner cabinet__inner--standard">
            <div class="verification verification_Wide">
              <div class="verificationLeft">
                <div class="verificationIcon"><img src="./img/ver-id.svg" alt></div>
                <div class="verificationDscr">
                  <h6>Identity veryfication with KYC</h6>
                  <p>Personal information, Government-issued ID, Facial recognition</p>
                </div>
              </div>
              <div class="verificationCenter">
                <div class="verificationDisabled">Not enabled</div>
              </div>
              <div class="verificationRight"><a class="btn btn-primary btn-xs" href="#verification" data-fancybox>Verify</a>
              </div>
            </div>
        </div>
      </div>
    </div>
    <script src="js/vendor.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>

src/pages/settings-identification.pug
extends ../templates/template.pug
block content
  +header({
    type: 'user'
  }).header--inner
  .cabinet
    .cabinet__aside
      .aside
        .aside__top
          a.link.link_Arrow.asideBack(href="#") Back
          .aside__subheader Settings
          .asideItem
            a.aside__btn.aside__btn--info(href="#") Personal info
          .asideItem
            a.aside__btn.aside__btn--subheader.aside__btn--security(href="#") Security
            .asideSubmenu
              a(href="#") Two-factor authentication (2FA)
              a(href="#") Password
              a(href="#") Account activity
          .asideItem
            a.aside__btn.aside__btn--identification.aside__btn--active(href="#") Identification
          .asideItem
            a.aside__btn.aside__btn--payment(href="#") Payment
        .aside__bottom
          span.aside__copyright © 2022 Manax. All rights reserved.
    .cabinet__content
      .cabinet__content-header.cabinet__content-header--column
        .cabinet__content-title Identification
        .cabinetContentSubheader Complete identity veryfication with KYC to use all services of Manax
      .cabinet__inner.cabinet__inner--standard
        +verification({
          icon: 'ver-id.svg',
          header: 'Identity veryfication with KYC',
          subheader: 'Personal information, Government-issued ID, Facial recognition', 
          type: 'disabled',
          btn: 'Verify',
        }).verification_Wide
