public/settings-password.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Title</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
  </head>
  <body>
      <div class="header header--inner">
        <div class="container header__container">
          <div class="header__wrapper">
            <div class="header__left"><a class="logo header__logo" href="index.html"><img class="logo__img" src="./img/logo.svg" alt>
                  <div class="logo__title">MANAX</div></a>
            </div>
            <div class="header__right">
              <div class="header__info"><a class="header__info-btn header__info-btn--notifications" href="#"></a></div>
                <div class="user">
                  <div class="user__initials">AK</div>
                  <div class="user__dropdown">
                    <div class="user__dropdown-status user__dropdown-status--verified">Verified</div>
                    <div class="user__dropdown-info">
                      <div class="user__initials">AK</div>
                      <div class="user__dropdown-info-content">
                        <h6>Albert Krungsri</h6>
                        <p>albert@compx.com</p>
                      </div>
                    </div><a class="user__dropdown-item user__dropdown-item--personal" href="#">Personal area</a><a class="user__dropdown-item user__dropdown-item--logout" href="#">Log out</a>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    <div class="cabinet">
      <div class="cabinet__aside">
        <div class="aside">
          <div class="aside__top"><a class="aside__btn aside__btn--orders" href="cabinet-orders.html">Orders</a><a class="aside__btn aside__btn--settings aside__btn--active" href="cabinet-settings.html">Settings</a></div>
          <div class="aside__bottom"><a class="aside__btn aside__btn--logout" href="#">Log out</a><span class="aside__copyright">© 2022 Manax. All rights reserved.</span></div>
        </div>
      </div>
      <div class="cabinet__content">
        <div class="cabinet__content-header">
          <div class="cabinet__content-title">Settings</div>
        </div>
        <div class="cabinet__inner">
          <div class="cabinet__inner-aside"><a class="cabinet__inner-link" href="cabinet-settings-data.html">Personal data</a><a class="cabinet__inner-link cabinet__inner-link--active" href="cabinet-settings-password.html">Password</a></div>
          <div class="cabinet__inner-content">
            <h6 class="text-white mb-20 mb-xl-30">Change password</h6>
            <form class="form form--dark cabinet__inner-form" action="#" method="POST">
              <div class="form__item">
                <div class="form__label form-label">Old password</div>
                <div class="form__item-password">
                  <input class="input form-control" type="password" name="password" required><a class="form__password-view" href="#"></a>
                </div>
              </div>
              <div class="form__item">
                <div class="form__label form-label">New password</div>
                <div class="form__item-password">
                  <input class="input form-control" type="password" name="password" required><a class="form__password-view" href="#"></a>
                </div>
                <div class="form__password-strength form__password-strength--active">10+ characters</div>
                <div class="form__password-strength">uppercase and lowercase letters</div>
                <div class="form__password-strength">a number</div>
              </div>
              <div class="form__item">
                <div class="form__label form-label">Confirm new password</div>
                <div class="form__item-password">
                  <input class="input form-control" type="password" name="password" required><a class="form__password-view" href="#"></a>
                </div>
              </div>
              <button class="btn btn-primary mt-15" type="submit">Save</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script src="js/vendor.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>

src/pages/settings-password.pug
extends ../templates/template.pug
block content
  +header({
    type: 'user'
  }).header--inner
  .cabinet
    .cabinet__aside
      .aside
        .aside__top
          a.aside__btn.aside__btn--orders(href="cabinet-orders.html") Orders
          a.aside__btn.aside__btn--settings.aside__btn--active(href="cabinet-settings.html") Settings
        .aside__bottom
          a.aside__btn.aside__btn--logout(href="#") Log out
          span.aside__copyright © 2022 Manax. All rights reserved.
    .cabinet__content
      .cabinet__content-header
        .cabinet__content-title Settings
      .cabinet__inner
        .cabinet__inner-aside
          a.cabinet__inner-link(href="cabinet-settings-data.html") Personal data
          a.cabinet__inner-link.cabinet__inner-link--active(href="cabinet-settings-password.html") Password
        .cabinet__inner-content
          h6.text-white.mb-20.mb-xl-30 Change password
          form.form.form--dark.cabinet__inner-form(action="#", method="POST")
            .form__item
              .form__label.form-label Old password
              .form__item-password
                input.input.form-control(type="password", name="password", required)
                a.form__password-view(href="#")
            .form__item
              .form__label.form-label New password
              .form__item-password
                input.input.form-control(type="password", name="password", required)
                a.form__password-view(href="#")
              .form__password-strength.form__password-strength--active 10+ characters
              .form__password-strength uppercase and lowercase letters
              .form__password-strength a number
            .form__item
              .form__label.form-label Confirm new password
              .form__item-password
                input.input.form-control(type="password", name="password", required)
                a.form__password-view(href="#")
            button.btn.btn-primary.mt-15(type="submit") Save
