public/settings-new-password.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Title</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
  </head>
  <body>
      <div class="header header--inner">
        <div class="container header__container">
          <div class="header__wrapper">
            <div class="header__left"><a class="logo header__logo" href="index.html"><img class="logo__img" src="./img/logo.svg" alt>
                  <div class="logo__title">MANAX</div></a>
            </div>
            <div class="header__right">
              <div class="header__info"><a class="header__info-btn header__info-btn--notifications" href="#"></a></div>
                <div class="user">
                  <div class="user__initials">AK</div>
                  <div class="user__dropdown">
                    <div class="user__dropdown-status user__dropdown-status--verified">Verified</div>
                    <div class="user__dropdown-info">
                      <div class="user__initials">AK</div>
                      <div class="user__dropdown-info-content">
                        <h6>Albert Krungsri</h6>
                        <p>albert@compx.com</p>
                      </div>
                    </div><a class="user__dropdown-item user__dropdown-item--personal" href="#">Personal area</a><a class="user__dropdown-item user__dropdown-item--logout" href="#">Log out</a>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    <div class="cabinet">
      <div class="cabinet__aside">
        <div class="aside">
          <div class="aside__top"><a class="link link_Arrow asideBack" href="#">Back</a>
            <div class="aside__subheader">Settings</div>
            <div class="asideItem"><a class="aside__btn aside__btn--info aside__btn--active" href="#">Personal info</a></div>
            <div class="asideItem"><a class="aside__btn aside__btn--security" href="#">Security</a>
              <div class="asideSubmenu"><a class="asideSublink" href="#">Two-factor authentication (2FA)</a><a class="asideSublink" href="#">Password</a><a class="asideSublink" href="#">Account activity</a></div>
            </div>
            <div class="asideItem"><a class="aside__btn aside__btn--identification" href="#">Identification</a></div>
            <div class="asideItem"><a class="aside__btn aside__btn--payment" href="#">Payment</a></div>
          </div>
          <div class="aside__bottom"><span class="aside__copyright">© 2022 Manax. All rights reserved.</span></div>
        </div>
      </div>
      <div class="cabinet__content">
        <div class="cabinet__content-header">
          <div class="cabinet__content-title">Change password</div>
        </div>
        <div class="cabinet__inner cabinet__inner--default">
          <form class="form form--dark cabinet__inner-form px-0" action="#" method="POST">
            <div class="form__item">
              <div class="form__label form-label">Old password</div>
              <div class="form__item-password">
                <input class="input form-control" type="password" name="password" required><a class="form__password-view" href="#"></a>
              </div>
            </div>
            <div class="form__item">
              <div class="form__label form-label">New password</div>
              <div class="form__item-password">
                <input class="input form-control" type="password" name="password" required><a class="form__password-view" href="#"></a>
              </div>
              <div class="form__password-strength form__password-strength--active">10+ characters</div>
              <div class="form__password-strength">uppercase and lowercase letters</div>
              <div class="form__password-strength">a number</div>
            </div>
            <div class="form__item">
              <div class="form__label form-label">Confirm new password</div>
              <div class="form__item-password">
                <input class="input form-control" type="password" name="password" required><a class="form__password-view" href="#"></a>
              </div>
            </div>
            <div class="form__footer mt-30"><a class="btn btn-primary btn-xs" href="#">Save changes</a><a class="btn btn-link btn-xs ms-20" href="#">Cancel</a></div>
          </form>
        </div>
      </div>
    </div>
    <script src="js/vendor.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>

src/pages/settings-new-password.pug
extends ../templates/template.pug
block content
  +header({
    type: 'user'
  }).header--inner
  .cabinet
    .cabinet__aside
      .aside
        .aside__top
          a.link.link_Arrow.asideBack(href="#") Back
          .aside__subheader Settings
          .asideItem
            a.aside__btn.aside__btn--info.aside__btn--active(href="#") Personal info
          .asideItem
            a.aside__btn.aside__btn--security(href="#") Security
            .asideSubmenu
              a.asideSublink(href="#") Two-factor authentication (2FA)
              a.asideSublink(href="#") Password
              a.asideSublink(href="#") Account activity
          .asideItem
            a.aside__btn.aside__btn--identification(href="#") Identification
          .asideItem
            a.aside__btn.aside__btn--payment(href="#") Payment
        .aside__bottom
          span.aside__copyright © 2022 Manax. All rights reserved.
    .cabinet__content
      .cabinet__content-header
        .cabinet__content-title Change password
      .cabinet__inner.cabinet__inner--default
        form.form.form--dark.cabinet__inner-form.px-0(action="#", method="POST")
          .form__item
            .form__label.form-label Old password
            .form__item-password
              input.input.form-control(type="password", name="password", required)
              a.form__password-view(href="#")
          .form__item
            .form__label.form-label New password
            .form__item-password
              input.input.form-control(type="password", name="password", required)
              a.form__password-view(href="#")
            .form__password-strength.form__password-strength--active 10+ characters
            .form__password-strength uppercase and lowercase letters
            .form__password-strength a number
          .form__item
            .form__label.form-label Confirm new password
            .form__item-password
              input.input.form-control(type="password", name="password", required)
              a.form__password-view(href="#")
          .form__footer.mt-30
            a.btn.btn-primary.btn-xs(href="#") Save changes
            a.btn.btn-link.btn-xs.ms-20(href="#") Cancel
