src/pages/settings-new-info.pug
extends ../templates/template.pug
block content
  +header({
    type: 'user'
  }).header--inner
  .cabinet
    .cabinet__aside
      .aside
        .aside__top
          a.link.link_Arrow.asideBack(href="#") Back
          .aside__subheader Settings
          .asideItem
            a.aside__btn.aside__btn--info.aside__btn--active(href="#") Personal info
          .asideItem
            a.aside__btn.aside__btn--subheader.aside__btn--security(href="#") Security
            .asideSubmenu
              a(href="#") Two-factor authentication (2FA)
              a(href="#") Password
              a(href="#") Account activity
          .asideItem
            a.aside__btn.aside__btn--identification(href="#") Identification
          .asideItem
            a.aside__btn.aside__btn--payment(href="#") Payment
        .aside__bottom
          span.aside__copyright © 2022 Manax. All rights reserved.
    .cabinet__content
      .cabinet__content-header
        .cabinet__content-title Personal info
      .cabinet__inner
        .cabinetInnerWrapper
          form.form.form--dark.cabinet__inner-form.cabinet__inner-form--hor(action="#", method="POST")
            .cabinet__photo
              .cabinet__photo-picture AK
                //img.cabinet__photo-picture-img(src="./img/user.jpg", alt)
              +file-btn({
                title: 'Edit'
              }).file-btn--link
            .cabinetInfoWrapper
              .form__item
                .form__label.form-label Full name
                input.input.form-control(type="text", name="name", placeholder="Jone Doe", required)
              .form__item
                .form__label.form-label Company
                input.input.form-control(type="text", name="company", placeholder="Company name")
              .form__item
                .form__label.form-label Phone number
                .form__phone
                  select.form-select.form__select.form__phone-select(required='')
                    option(selected value='+1') US
                    option(value='+380') UA
                  input.input.form-control.form__phone-input(type="text", placeholder="+1 (555) 000-0000", name="phone")
              .form__item
                .form__label.form-label Telegram
                input.input.form-control(type="text", name="company", placeholder="@username")
              .form__footer.mt-30
                button.btn.btn-primary.btn-xs2(type="submit") Save changes
                a.btn.btn-link.btn-xs2.ms-20(href="#") Cancel

public/settings-new-info.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Title</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
  </head>
  <body>
      <div class="header header--inner">
        <div class="container header__container">
          <div class="header__wrapper">
            <div class="header__left"><a class="logo header__logo" href="index.html"><img class="logo__img" src="./img/logo.svg" alt>
                  <div class="logo__title">MANAX</div></a>
            </div>
            <div class="header__right">
              <div class="header__info"><a class="header__info-btn header__info-btn--notifications" href="#"></a></div>
                <div class="user">
                  <div class="user__initials">AK</div>
                  <div class="user__dropdown">
                    <div class="user__dropdown-status user__dropdown-status--verified">Verified</div>
                    <div class="user__dropdown-info">
                      <div class="user__initials">AK</div>
                      <div class="user__dropdown-info-content">
                        <h6>Albert Krungsri</h6>
                        <p>albert@compx.com</p>
                      </div>
                    </div><a class="user__dropdown-item user__dropdown-item--personal" href="#">Personal area</a><a class="user__dropdown-item user__dropdown-item--logout" href="#">Log out</a>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    <div class="cabinet">
      <div class="cabinet__aside">
        <div class="aside">
          <div class="aside__top"><a class="link link_Arrow asideBack" href="#">Back</a>
            <div class="aside__subheader">Settings</div>
            <div class="asideItem"><a class="aside__btn aside__btn--info aside__btn--active" href="#">Personal info</a></div>
            <div class="asideItem"><a class="aside__btn aside__btn--subheader aside__btn--security" href="#">Security</a>
              <div class="asideSubmenu"><a href="#">Two-factor authentication (2FA)</a><a href="#">Password</a><a href="#">Account activity</a></div>
            </div>
            <div class="asideItem"><a class="aside__btn aside__btn--identification" href="#">Identification</a></div>
            <div class="asideItem"><a class="aside__btn aside__btn--payment" href="#">Payment</a></div>
          </div>
          <div class="aside__bottom"><span class="aside__copyright">© 2022 Manax. All rights reserved.</span></div>
        </div>
      </div>
      <div class="cabinet__content">
        <div class="cabinet__content-header">
          <div class="cabinet__content-title">Personal info</div>
        </div>
        <div class="cabinet__inner">
          <div class="cabinetInnerWrapper">
            <form class="form form--dark cabinet__inner-form cabinet__inner-form--hor" action="#" method="POST">
              <div class="cabinet__photo">
                <div class="cabinet__photo-picture">AK
                  <!--img.cabinet__photo-picture-img(src="./img/user.jpg", alt)-->
                </div>
                  <div class="file-btn file-btn--link">
                    <div class="input-group">
                      <label class="input-group-text" for="inputGroupFile01">Edit</label>
                      <input class="form-control" id="inputGroupFile01" type="file">
                    </div>
                  </div>
              </div>
              <div class="cabinetInfoWrapper">
                <div class="form__item">
                  <div class="form__label form-label">Full name</div>
                  <input class="input form-control" type="text" name="name" placeholder="Jone Doe" required>
                </div>
                <div class="form__item">
                  <div class="form__label form-label">Company</div>
                  <input class="input form-control" type="text" name="company" placeholder="Company name">
                </div>
                <div class="form__item">
                  <div class="form__label form-label">Phone number</div>
                  <div class="form__phone">
                    <select class="form-select form__select form__phone-select" required="">
                      <option selected value="+1">US</option>
                      <option value="+380">UA</option>
                    </select>
                    <input class="input form-control form__phone-input" type="text" placeholder="+1 (555) 000-0000" name="phone">
                  </div>
                </div>
                <div class="form__item">
                  <div class="form__label form-label">Telegram</div>
                  <input class="input form-control" type="text" name="company" placeholder="@username">
                </div>
                <div class="form__footer mt-30">
                  <button class="btn btn-primary btn-xs2" type="submit">Save changes</button><a class="btn btn-link btn-xs2 ms-20" href="#">Cancel</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script src="js/vendor.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>
