src/pages/settings-new-auth.pug
extends ../templates/template.pug
block content
  +header({
    type: 'user'
  }).header--inner
  .cabinet
    .cabinet__aside
      .aside
        .aside__top
          a.link.link_Arrow.asideBack(href="#") Back
          .aside__subheader Settings
          .asideItem
            a.aside__btn.aside__btn--info(href="#") Personal info
          .asideItem
            a.aside__btn.aside__btn--subheader.aside__btn--security.aside__btn--active(href="#") Security
            .asideSubmenu
              a(href="#") Two-factor authentication (2FA)
              a(href="#") Password
              a(href="#") Account activity
          .asideItem
            a.aside__btn.aside__btn--identification(href="#") Identification
          .asideItem
            a.aside__btn.aside__btn--payment(href="#") Payment
        .aside__bottom
          span.aside__copyright © 2022 Manax. All rights reserved.
    .cabinet__content
      .cabinet__content-header.cabinet__content-header--column
        .cabinet__content-title Two-factor authentication (2FA)
        .cabinetContentSubheader Two-factor authentication adds an extra layer of security to your account by asking for a verification code when you sign in
      .cabinet__inner.cabinet__inner--standard
        +verification({
          icon: 'ver-shield.svg',
          header: 'Google authenticator',
          subheader: 'Use an app to generate time-sensitive authentication codes on your phone', 
          type: 'disabled',
          btn: 'Enable',
          link: '#authGoogle'
        })
        +verification({
          icon: 'ver-email.svg',
          header: 'Email verification',
          subheader: 'Protect your account and transactions', 
          content: 'al***@compx.com',
          btn: 'Change',
          link: '#authEmail'
        })
        +modal({
          type: 'verification'
        }).modal--wide#verification
        +modal({
          type: 'authGoogle'
        }).modal--medium#authGoogle
        +modal({
          type: 'authEmail'
        }).modal--medium#authEmail

public/settings-new-auth.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Title</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
  </head>
  <body>
      <div class="header header--inner">
        <div class="container header__container">
          <div class="header__wrapper">
            <div class="header__left"><a class="logo header__logo" href="index.html"><img class="logo__img" src="./img/logo.svg" alt>
                  <div class="logo__title">MANAX</div></a>
            </div>
            <div class="header__right">
              <div class="header__info"><a class="header__info-btn header__info-btn--notifications" href="#"></a></div>
                <div class="user">
                  <div class="user__initials">AK</div>
                  <div class="user__dropdown">
                    <div class="user__dropdown-status user__dropdown-status--verified">Verified</div>
                    <div class="user__dropdown-info">
                      <div class="user__initials">AK</div>
                      <div class="user__dropdown-info-content">
                        <h6>Albert Krungsri</h6>
                        <p>albert@compx.com</p>
                      </div>
                    </div><a class="user__dropdown-item user__dropdown-item--personal" href="#">Personal area</a><a class="user__dropdown-item user__dropdown-item--logout" href="#">Log out</a>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    <div class="cabinet">
      <div class="cabinet__aside">
        <div class="aside">
          <div class="aside__top"><a class="link link_Arrow asideBack" href="#">Back</a>
            <div class="aside__subheader">Settings</div>
            <div class="asideItem"><a class="aside__btn aside__btn--info" href="#">Personal info</a></div>
            <div class="asideItem"><a class="aside__btn aside__btn--subheader aside__btn--security aside__btn--active" href="#">Security</a>
              <div class="asideSubmenu"><a href="#">Two-factor authentication (2FA)</a><a href="#">Password</a><a href="#">Account activity</a></div>
            </div>
            <div class="asideItem"><a class="aside__btn aside__btn--identification" href="#">Identification</a></div>
            <div class="asideItem"><a class="aside__btn aside__btn--payment" href="#">Payment</a></div>
          </div>
          <div class="aside__bottom"><span class="aside__copyright">© 2022 Manax. All rights reserved.</span></div>
        </div>
      </div>
      <div class="cabinet__content">
        <div class="cabinet__content-header cabinet__content-header--column">
          <div class="cabinet__content-title">Two-factor authentication (2FA)</div>
          <div class="cabinetContentSubheader">Two-factor authentication adds an extra layer of security to your account by asking for a verification code when you sign in</div>
        </div>
        <div class="cabinet__inner cabinet__inner--standard">
            <div class="verification">
              <div class="verificationLeft">
                <div class="verificationIcon"><img src="./img/ver-shield.svg" alt></div>
                <div class="verificationDscr">
                  <h6>Google authenticator</h6>
                  <p>Use an app to generate time-sensitive authentication codes on your phone</p>
                </div>
              </div>
              <div class="verificationCenter">
                <div class="verificationDisabled">Not enabled</div>
              </div>
              <div class="verificationRight"><a class="btn btn-primary btn-xs" href="#verification" data-fancybox>Enable</a>
              </div>
            </div>
            <div class="verification">
              <div class="verificationLeft">
                <div class="verificationIcon"><img src="./img/ver-email.svg" alt></div>
                <div class="verificationDscr">
                  <h6>Email verification</h6>
                  <p>Protect your account and transactions</p>
                </div>
              </div>
              <div class="verificationCenter">
                <div class="verificationSuccess">al***@compx.com</div>
              </div>
              <div class="verificationRight"><a class="btn btn-gray btn-xs" href="#verification" data-fancybox>Change</a><a class="verificationRemove hint__trigger" href="#authEmail" data-fancybox>
                    <div class="hint">Remove</div></a>
              </div>
            </div>
            <div class="modal modal--wide" id="verification">
                <div class="stages">
                    <div class="stagesHeader">
                      <div class="stagesHeaderItem stagesHeaderItem_Active">
                        <div><span>1</span></div>
                        <p>Scan QR code</p>
                      </div>
                      <div class="stagesHeaderItem">
                        <div><span>2</span></div>
                        <p>Enter code</p>
                      </div>
                      <div class="stagesHeaderItem">
                        <div><span>3</span></div>
                        <p>Backup keys</p>
                      </div>
                    </div>
                  <div class="stagesContent">
                    <div class="stagesItem stagesItem_Active">
                      <div class="stagesItemInner">
                        <div class="stagesItemHeader">
                          <h6>Scan the OR code</h6>
                          <p>Download Google authenticator on your smartphone. Use the app to scan the QR code</p>
                        </div>
                          <div class="qr"><img src="./img/qr.png" alt>
                            <div class="qrName"><span>4PLDJFHD6JBNDE</span><a href="#"></a></div>
                          </div><a class="btn btn-primary btn-xs w-100 jsStageNext" href="#">Next</a>
                      </div>
                    </div>
                    <!--.stagesItem
                    .stagesItemInner
                      +confirmation({
                        header: 'Enter code',
                        subheader: "Enter 2FA code from Google authenticator app",
                        inputs: 6,
                      }).confirmation_Stages.confirmation_StagesLeft
                    -->
                    <div class="stagesItem">
                      <div class="stagesItemInner">
                          <div class="confirmation confirmation_Stages">
                            <div class="confirmationHeader">
                              <div class="confirmationIcon"></div>
                              <h6>Google authenticator enabled</h6>
                              <p>You have successfully enabled Authenticator to protect your account</p>
                            </div><a class="btn btn-primary btn-xs mt-15 w-100 jsStageNext" href="#">Get started</a>
                          </div>
                      </div>
                    </div>
                    <div class="stagesItem">
                      <div class="stagesItemInner">
                        <div class="stagesItemHeader">
                          <h6>Save these Backup Recovery keys in a secure location</h6>
                          <p>These keys will allow to recover your Authenticator if you lost access to your 2FA device</p>
                            <div class="keys"><span>4j6kfhst</span><span>4j6kfhst</span><span>4j6kfhst</span><span>klf4gtbb</span><span>klf4gtbb</span><span>klf4gtbb</span><span>4j6kfhst</span><span>4j6kfhst</span><span>4j6kfhst</span><span>klf4gtbb</span><span>klf4gtbb</span><span>klf4gtbb</span>
                            </div><a class="btn btn-primary btn-xs w-100" href="#">Confirm backup recovery keys</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <div class="modal modal--medium" id="authGoogle">
              <div class="modalAuth">
                <div class="modalAuthIcon"></div>
                <div class="modalAuthContent">
                  <h6 class="mb-5">Are you sure you want to remove Google authenticator?</h6>
                  <p class="mb-0">Google authenticator adds an extra layer of security to your account.</p>
                  <div class="modal__btns-wrapper"><a class="btn btn-link btn-xs px-35" href="#">Remove</a><a class="btn btn-primary btn-xs px-35 modal__close" href="#">Cancel</a></div>
                </div>
              </div>
            </div>
            <div class="modal modal--medium" id="authEmail">
              <div class="modalAuth">
                <div class="modalAuthIcon"></div>
                <div class="modalAuthContent">
                  <h6 class="mb-10">Are you sure you want to remove email verification?</h6>
                  <p class="mb-0">Email verification is required for orders and other actions. Your actions will be limited until you verify your email address.</p>
                  <div class="modal__btns-wrapper"><a class="btn btn-link btn-xs px-35" href="#">Remove</a><a class="btn btn-primary btn-xs px-35 modal__close" href="#">Cancel</a></div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
    <script src="js/vendor.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>
