public/settings-payments-form.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Title</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
  </head>
  <body>
      <div class="header header--inner">
        <div class="container header__container">
          <div class="header__wrapper">
            <div class="header__left"><a class="logo header__logo" href="index.html"><img class="logo__img" src="./img/logo.svg" alt>
                  <div class="logo__title">MANAX</div></a>
            </div>
            <div class="header__right">
              <div class="header__info"><a class="header__info-btn header__info-btn--notifications" href="#"></a></div>
                <div class="user">
                  <div class="user__initials">AK</div>
                  <div class="user__dropdown">
                    <div class="user__dropdown-status user__dropdown-status--verified">Verified</div>
                    <div class="user__dropdown-info">
                      <div class="user__initials">AK</div>
                      <div class="user__dropdown-info-content">
                        <h6>Albert Krungsri</h6>
                        <p>albert@compx.com</p>
                      </div>
                    </div><a class="user__dropdown-item user__dropdown-item--personal" href="#">Personal area</a><a class="user__dropdown-item user__dropdown-item--logout" href="#">Log out</a>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    <div class="cabinet">
      <div class="cabinet__aside">
        <div class="aside">
          <div class="aside__top"><a class="aside__btn aside__btn--orders" href="cabinet-orders.html">Orders</a><a class="aside__btn aside__btn--settings aside__btn--active" href="cabinet-settings.html">Settings</a></div>
          <div class="aside__bottom"><a class="aside__btn aside__btn--logout" href="#">Log out</a><span class="aside__copyright">© 2022 Manax. All rights reserved.</span></div>
        </div>
      </div>
      <div class="cabinet__content">
        <div class="cabinet__content-header">
          <div class="cabinet__content-title">Settings</div>
        </div>
        <div class="cabinet__inner">
          <div class="cabinet__inner-aside"><a class="cabinet__inner-link" href="cabinet-settings-data.html">Personal data</a><a class="cabinet__inner-link" href="cabinet-settings-password.html">Password</a><a class="cabinet__inner-link cabinet__inner-link--active" href="cabinet-settings-data.html">Payment method</a></div>
          <div class="cabinet__inner-content cabinet__inner--default">
            <div class="row">
              <div class="col-xl-9">
                <div class="cabinet__inner-section">
                  <h6 class="cabinet__inner-section-header">Manage payment method</h6>
                    <div class="payment mb-20">
                      <div class="payment__icon"><img class="payment__icon-img" src="./img/payment-card.svg" alt></div>
                      <div class="payment__wrapper">
                        <div class="payment__content">
                          <p class="mb-0">Bank account ending in 8546
                          </p>
                          <p class="sm payment__expiry">Expiry 06/2024</p><a class="p sm link link--gray payment__btn" href="#">Delete</a><a class="p sm link payment__btn" href="#">Edit</a>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="cabinet__inner-section">
                  <div class="cabinet__payment-header">
                    <h6 class="cabinet__inner-section-header me-10">Paypal</h6><a class="p sm link" href="#payment" data-fancybox>Change</a>
                      <div class="modal modal--thin" id="payment">
                        <form class="form" action="#" method="POST">
                          <h6 class="mb-25">Choose a payment method</h6>
                            <label class="method" for="payment1"><span class="form-check"><span class="method__icon"><img class="method__icon-img" src="./img/payment-card.svg" alt></span>
                                <input class="form-check-input" type="radio" id="payment1" name="payment"><span class="form-check-label">Bank account ending in 8955</span></span></label>
                            <label class="method" for="payment2"><span class="form-check"><span class="method__icon"><img class="method__icon-img" src="./img/payment-card.svg" alt></span>
                                <input class="form-check-input" type="radio" id="payment2" name="payment"><span class="form-check-label">Another bank payment</span></span></label>
                            <label class="method" for="payment3"><span class="form-check"><span class="method__icon"><img class="method__icon-img" src="./img/payment-wise.png" alt></span>
                                <input class="form-check-input" type="radio" id="payment3" name="payment"><span class="form-check-label">Wise</span></span></label>
                            <label class="method" for="payment4"><span class="form-check"><span class="method__icon"><img class="method__icon-img" src="./img/payment-paypal.svg" alt></span>
                                <input class="form-check-input" type="radio" id="payment4" name="payment"><span class="form-check-label">PayPal</span></span></label>
                            <label class="method" for="payment5"><span class="form-check"><span class="method__icon"><img class="method__icon-img" src="./img/payment-crypto.svg" alt></span>
                                <input class="form-check-input" type="radio" id="payment5" name="payment"><span class="form-check-label">Crypto wallet</span></span></label>
                          <button class="btn btn-primary btn-xs mt-15 w-100" type="submit">Choose</button>
                        </form>
                      </div>
                  </div>
                </div>
                <form class="form form--dark" action="#" method="POST">
                  <div class="row">
                    <div class="col-xl-6">
                      <div class="form__item">
                        <div class="form__label form-label">Account holder</div>
                        <input class="input form-control" type="text">
                      </div>
                    </div>
                    <div class="col-xl-6">
                      <div class="form__item">
                        <div class="form__label form-label">Email</div>
                        <input class="input form-control" type="email">
                      </div>
                    </div>
                  </div>
                  <button class="btn btn-primary btn-xs" type="submit">Save</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="js/vendor.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>

src/pages/settings-payments-form.pug
extends ../templates/template.pug
block content
  +header({
    type: 'user'
  }).header--inner
  .cabinet
    .cabinet__aside
      .aside
        .aside__top
          a.aside__btn.aside__btn--orders(href="cabinet-orders.html") Orders
          a.aside__btn.aside__btn--settings.aside__btn--active(href="cabinet-settings.html") Settings
        .aside__bottom
          a.aside__btn.aside__btn--logout(href="#") Log out
          span.aside__copyright © 2022 Manax. All rights reserved.
    .cabinet__content
      .cabinet__content-header
        .cabinet__content-title Settings
      .cabinet__inner
        .cabinet__inner-aside
          a.cabinet__inner-link(href="cabinet-settings-data.html") Personal data
          a.cabinet__inner-link(href="cabinet-settings-password.html") Password
          a.cabinet__inner-link.cabinet__inner-link--active(href="cabinet-settings-data.html") Payment method
        .cabinet__inner-content.cabinet__inner--default
          .row
            .col-xl-9
              .cabinet__inner-section
                h6.cabinet__inner-section-header Manage payment method
                +payment({
                  icon: 'card.svg',
                  title: 'Bank account ending in 8546',
                  btns: ['Delete', 'Edit']
                }).mb-20
              .cabinet__inner-section
                .cabinet__payment-header
                  h6.cabinet__inner-section-header.me-10 Paypal
                  a.p.sm.link(href="#payment", data-fancybox) Change
                  +modal({
                    type: 'payment'
                  }).modal--thin#payment
              form.form.form--dark(action="#", method="POST")
                .row
                  .col-xl-6
                    .form__item
                      .form__label.form-label Account holder
                      input.input.form-control(type="text")
                  .col-xl-6
                    .form__item
                      .form__label.form-label Email
                      input.input.form-control(type="email")
                button.btn.btn-primary.btn-xs(type="submit") Save
