public/settings-data.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Title</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
  </head>
  <body>
      <div class="header header--inner">
        <div class="container header__container">
          <div class="header__wrapper">
            <div class="header__left"><a class="logo header__logo" href="index.html"><img class="logo__img" src="./img/logo.svg" alt>
                  <div class="logo__title">MANAX</div></a>
            </div>
            <div class="header__right">
              <div class="header__info"><a class="header__info-btn header__info-btn--notifications" href="#"></a></div>
                <div class="user">
                  <div class="user__initials">AK</div>
                  <div class="user__dropdown">
                    <div class="user__dropdown-status user__dropdown-status--verified">Verified</div>
                    <div class="user__dropdown-info">
                      <div class="user__initials">AK</div>
                      <div class="user__dropdown-info-content">
                        <h6>Albert Krungsri</h6>
                        <p>albert@compx.com</p>
                      </div>
                    </div><a class="user__dropdown-item user__dropdown-item--personal" href="#">Personal area</a><a class="user__dropdown-item user__dropdown-item--logout" href="#">Log out</a>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    <div class="cabinet">
      <div class="cabinet__aside">
        <div class="aside">
          <div class="aside__top"><a class="aside__btn aside__btn--orders" href="cabinet-orders.html">Orders</a><a class="aside__btn aside__btn--settings aside__btn--active" href="cabinet-settings.html">Settings</a></div>
          <div class="aside__bottom"><a class="aside__btn aside__btn--logout" href="#">Log out</a><span class="aside__copyright">© 2022 Manax. All rights reserved.</span></div>
        </div>
      </div>
      <div class="cabinet__content">
        <div class="cabinet__content-header">
          <div class="cabinet__content-title">Settings</div>
        </div>
        <div class="cabinet__inner">
          <div class="cabinet__inner-aside"><a class="cabinet__inner-link cabinet__inner-link--active" href="cabinet-settings-data.html">Personal data</a><a class="cabinet__inner-link" href="cabinet-settings-password.html">Password</a></div>
          <div class="cabinet__inner-content">
            <form class="form form--dark cabinet__inner-form" action="#" method="POST">
              <div class="cabinet__photo">
                <div class="cabinet__photo-picture">
                  <!--img.cabinet__photo-picture-img(src="./img/user.jpg", alt)-->
                </div>
                <div class="cabinet__photo-content">
                    <div class="file-btn cabinet__photo-file">
                      <div class="input-group">
                        <label class="input-group-text" for="inputGroupFile01">Upload new photo</label>
                        <input class="form-control" id="inputGroupFile01" type="file">
                      </div>
                    </div><a class="cabinet__photo-remove" href="#">Delete</a>
                </div>
              </div>
              <div class="form__item">
                <div class="form__label form-label">Full name</div>
                <input class="input form-control" type="text" name="name" placeholder="Jone Doe" required>
              </div>
              <div class="form__item">
                <div class="form__label form-label">Company</div>
                <input class="input form-control" type="text" name="company" placeholder="Company name">
              </div>
              <div class="form__item">
                <div class="form__label form-label">Email</div>
                <input class="input form-control" type="email" name="email" placeholder="you@company.com" required>
              </div>
              <div class="form__item">
                <div class="form__label form-label">Phone number</div>
                <div class="form__phone">
                  <select class="form-select form__select form__phone-select" required="">
                    <option selected value="+1">US</option>
                    <option value="+380">UA</option>
                  </select>
                  <input class="input form-control form__phone-input" type="text" placeholder="+1 (555) 000-0000" name="phone">
                </div>
              </div>
              <div class="form__item">
                <div class="form__label form-label">Telegram</div>
                <input class="input form-control" type="text" name="company" placeholder="@username">
              </div>
              <button class="btn btn-primary mt-15" type="submit">Save</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script src="js/vendor.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>

src/pages/settings-data.pug
extends ../templates/template.pug
block content
  +header({
    type: 'user'
  }).header--inner
  .cabinet
    .cabinet__aside
      .aside
        .aside__top
          a.aside__btn.aside__btn--orders(href="cabinet-orders.html") Orders
          a.aside__btn.aside__btn--settings.aside__btn--active(href="cabinet-settings.html") Settings
        .aside__bottom
          a.aside__btn.aside__btn--logout(href="#") Log out
          span.aside__copyright © 2022 Manax. All rights reserved.
    .cabinet__content
      .cabinet__content-header
        .cabinet__content-title Settings
      .cabinet__inner
        .cabinet__inner-aside
          a.cabinet__inner-link.cabinet__inner-link--active(href="cabinet-settings-data.html") Personal data
          a.cabinet__inner-link(href="cabinet-settings-password.html") Password
        .cabinet__inner-content
          form.form.form--dark.cabinet__inner-form(action="#", method="POST")
            .cabinet__photo
              .cabinet__photo-picture
                //img.cabinet__photo-picture-img(src="./img/user.jpg", alt)
              .cabinet__photo-content
                +file-btn({
                  title: 'Upload new photo'
                }).cabinet__photo-file
                a.cabinet__photo-remove(href="#") Delete
            .form__item
              .form__label.form-label Full name
              input.input.form-control(type="text", name="name", placeholder="Jone Doe", required)
            .form__item
              .form__label.form-label Company
              input.input.form-control(type="text", name="company", placeholder="Company name")
            .form__item
              .form__label.form-label Email
              input.input.form-control(type="email", name="email", placeholder="you@company.com", required)
            .form__item
              .form__label.form-label Phone number
              .form__phone
                select.form-select.form__select.form__phone-select(required='')
                  option(selected value='+1') US
                  option(value='+380') UA
                input.input.form-control.form__phone-input(type="text", placeholder="+1 (555) 000-0000", name="phone")
            .form__item
              .form__label.form-label Telegram
              input.input.form-control(type="text", name="company", placeholder="@username")
            button.btn.btn-primary.mt-15(type="submit") Save
