public/notifications.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Title</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
  </head>
  <body>
    <div class="cabinet__wrapper">
        <div class="header header--inner">
          <div class="container header__container">
            <div class="header__wrapper">
              <div class="header__left"><a class="logo header__logo" href="index.html"><img class="logo__img" src="./img/logo.svg" alt>
                    <div class="logo__title">MANAX</div></a>
              </div>
              <div class="header__right">
                <div class="header__info">
                  <div class="header__info-item popup_Trigger"><a class="header__info-btn header__info-btn--notifications header__info-btn--notifications-true" href="#"></a>
                      <div class="popup">
                        <div class="popupWrapper">
                          <div class="popupHeader">
                            <div class="popupLeft">
                              <p>Notifications</p><span>6</span>
                            </div>
                            <div class="popupRight"><a class="link" href="#">Mark all as read</a></div>
                          </div>
                          <div class="popupContent">
                              <div class="notification">
                                <div class="notificationMain">
                                  <div class="notificationIcon"><img src="./img/notification-rocket.png" alt></div>
                                  <div class="notificationContent">
                                    <h6>Special offer</h6>
                                    <div>
                                      <p><span class="notificationText">Order 2 exchanges and get 1 free with all basic features</span><a class="notificationBtn" href="#">more<span>less</span></a></p>
                                    </div>
                                  </div>
                                </div>
                                <div class="notificationTime">Just now</div>
                              </div>
                              <div class="notification">
                                <div class="notificationMain">
                                  <div class="notificationIcon"><img src="./img/notification-warning.png" alt></div>
                                  <div class="notificationContent">
                                    <h6>A resent sign-in to your account from unknown device or browser</h6>
                                    <div>
                                      <p><span class="notificationText">A resent sign-in to your account from unknown device...</span><a class="notificationBtn" href="#">more<span>less</span></a></p>
                                    </div>
                                  </div>
                                </div>
                                <div class="notificationTime">3 minutes ago</div>
                              </div>
                              <div class="notification">
                                <div class="notificationMain">
                                  <div class="notificationIcon"><img src="./img/notification-info.png" alt></div>
                                  <div class="notificationContent">
                                    <h6>Company news</h6>
                                    <div>
                                      <p><span class="notificationText">New services are available now</span><a class="notificationBtn" href="#">more<span>less</span></a></p>
                                    </div>
                                  </div>
                                </div>
                                <div class="notificationTime">2 hours ago</div>
                              </div>
                              <div class="notification">
                                <div class="notificationMain">
                                  <div class="notificationIcon"><img src="./img/notification-check.png" alt></div>
                                  <div class="notificationContent">
                                    <h6>Verification completed</h6>
                                    <div>
                                      <p><span class="notificationText">All functions are available for you</span><a class="notificationBtn" href="#">more<span>less</span></a></p>
                                    </div>
                                  </div>
                                </div>
                                <div class="notificationTime">1 day ago</div>
                              </div>
                              <div class="notification">
                                <div class="notificationMain">
                                  <div class="notificationIcon"><img src="./img/notification-rocket.png" alt></div>
                                  <div class="notificationContent">
                                    <h6>Special offer</h6>
                                    <div>
                                      <p><span class="notificationText">Order 2 exchanges and get 1 free with all basic features</span><a class="notificationBtn" href="#">more<span>less</span></a></p>
                                    </div>
                                  </div>
                                </div>
                                <div class="notificationTime">Just now</div>
                              </div>
                              <div class="notification">
                                <div class="notificationMain">
                                  <div class="notificationIcon"><img src="./img/notification-warning.png" alt></div>
                                  <div class="notificationContent">
                                    <h6>A resent sign-in to your account from unknown device or browser</h6>
                                    <div>
                                      <p><span class="notificationText">A resent sign-in to your account from unknown device...</span><a class="notificationBtn" href="#">more<span>less</span></a></p>
                                    </div>
                                  </div>
                                </div>
                                <div class="notificationTime">3 minutes ago</div>
                              </div>
                          </div>
                          <div class="popupFooter"><a class="link link_Arrow" href="#">View all</a></div>
                        </div>
                      </div>
                  </div>
                </div>
                  <div class="user">
                    <div class="user__initials">AK</div>
                    <div class="user__dropdown">
                      <div class="user__dropdown-status user__dropdown-status--verified">Verified</div>
                      <div class="user__dropdown-info">
                        <div class="user__initials">AK</div>
                        <div class="user__dropdown-info-content">
                          <h6>Albert Krungsri</h6>
                          <p>albert@compx.com</p>
                        </div>
                      </div><a class="user__dropdown-item user__dropdown-item--personal" href="#">Personal area</a><a class="user__dropdown-item user__dropdown-item--logout" href="#">Log out</a>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      <div class="cabinet">
        <div class="cabinet__aside">
          <div class="aside">
            <div class="aside__top"><a class="link link_Arrow asideBack" href="#">Back</a>
              <div class="aside__subheader">Notifications</div><a class="aside__btn aside__btn--envelope aside__btn--active" href="dashboard-initial.html"> 
                <p>All<span>6</span></p></a><a class="aside__btn aside__btn--rocket" href="cabinet-settings-data.html"> 
                <p>Promotions<span>1</span></p></a><a class="aside__btn aside__btn--info" href="cabinet-settings-data.html"> 
                <p>News<span>3</span></p></a><a class="aside__btn aside__btn--check" href="cabinet-settings-data.html"> 
                <p>Successful actions<span>1</span></p></a><a class="aside__btn aside__btn--warning" href="cabinet-settings-data.html"> 
                <p>System messages<span>1</span></p></a>
            </div>
            <div class="aside__bottom"><a class="aside__btn aside__btn--logout" href="#">Log out</a><span class="aside__copyright">© 2022 Manax. All rights reserved.</span></div>
          </div>
        </div>
        <div class="cabinet__content">
          <div class="cabinet__content-header">
            <div class="cabinet__content-title">All notifications</div><a class="link" href="#">Mark all as read</a>
          </div>
            <div class="notifications">
              <div class="notificationsHeader">
                <div class="notificationsHeaderItem">Message</div>
                <div class="notificationsHeaderItem">Date</div>
              </div>
              <div class="notificationsContent">
                  <div class="notification notification_New">
                    <div class="notificationMain">
                      <div class="notificationIcon"><img src="./img/notification-rocket.png" alt></div>
                      <div class="notificationContent">
                        <h6>Special offer</h6>
                        <div>
                          <p><span class="notificationText">Order 2 exchanges and get 1 free with all basic features</span><a class="notificationBtn" href="#">more<span>less</span></a></p>
                        </div>
                      </div>
                    </div>
                    <div class="notificationTime">23 minutes ago</div>
                  </div>
                  <div class="notification notification_New">
                    <div class="notificationMain">
                      <div class="notificationIcon"><img src="./img/notification-warning.png" alt></div>
                      <div class="notificationContent">
                        <h6>A resent sign-in to your account from unknown device or browser</h6>
                        <div>
                          <p><span class="notificationText">The system has detected that your account is logged in from an unused IP address. Account: albert@compx.com Device: Chrome V102.0.0.0 (Windows) Time: 2022-06-21 06:02:49(UTC) IP: 44.287.88.134 If this activity is not your own operation, please disable your account and contact us immediately.</span><a class="notificationBtn" href="#">more<span>less</span></a></p>
                        </div>
                      </div>
                    </div>
                    <div class="notificationTime">1 hour ago</div>
                  </div>
                  <div class="notification notification_New">
                    <div class="notificationMain">
                      <div class="notificationIcon"><img src="./img/notification-info.png" alt></div>
                      <div class="notificationContent">
                        <h6>Company news</h6>
                        <div>
                          <p><span class="notificationText">New services are available now</span><a class="notificationBtn" href="#">more<span>less</span></a></p>
                        </div>
                      </div>
                    </div>
                    <div class="notificationTime">18 hours ago</div>
                  </div>
                  <div class="notification">
                    <div class="notificationMain">
                      <div class="notificationIcon"><img src="./img/notification-check.png" alt></div>
                      <div class="notificationContent">
                        <h6>Verification completed</h6>
                        <div>
                          <p><span class="notificationText">All functions are available for you</span><a class="notificationBtn" href="#">more<span>less</span></a></p>
                        </div>
                      </div>
                    </div>
                    <div class="notificationTime">1 day ago</div>
                  </div>
                  <div class="notification">
                    <div class="notificationMain">
                      <div class="notificationIcon"><img src="./img/notification-info.png" alt></div>
                      <div class="notificationContent">
                        <h6>Company news</h6>
                        <div>
                          <p><span class="notificationText">New services are available now</span><a class="notificationBtn" href="#">more<span>less</span></a></p>
                        </div>
                      </div>
                    </div>
                    <div class="notificationTime">3 days ago</div>
                  </div>
                  <div class="notification">
                    <div class="notificationMain">
                      <div class="notificationIcon"><img src="./img/notification-info.png" alt></div>
                      <div class="notificationContent">
                        <h6>Company news</h6>
                        <div>
                          <p><span class="notificationText">New services are available now</span><a class="notificationBtn" href="#">more<span>less</span></a></p>
                        </div>
                      </div>
                    </div>
                    <div class="notificationTime">3 days ago</div>
                  </div>
                  <div class="notification">
                    <div class="notificationMain">
                      <div class="notificationIcon"><img src="./img/notification-info.png" alt></div>
                      <div class="notificationContent">
                        <h6>Company news</h6>
                        <div>
                          <p><span class="notificationText">New services are available now</span><a class="notificationBtn" href="#">more<span>less</span></a></p>
                        </div>
                      </div>
                    </div>
                    <div class="notificationTime">3 days ago</div>
                  </div>
                  <div class="notification">
                    <div class="notificationMain">
                      <div class="notificationIcon"><img src="./img/notification-info.png" alt></div>
                      <div class="notificationContent">
                        <h6>Company news</h6>
                        <div>
                          <p><span class="notificationText">New services are available now</span><a class="notificationBtn" href="#">more<span>less</span></a></p>
                        </div>
                      </div>
                    </div>
                    <div class="notificationTime">6 June 2022</div>
                  </div>
                  <div class="notification">
                    <div class="notificationMain">
                      <div class="notificationIcon"><img src="./img/notification-info.png" alt></div>
                      <div class="notificationContent">
                        <h6>Company news</h6>
                        <div>
                          <p><span class="notificationText">New services are available now</span><a class="notificationBtn" href="#">more<span>less</span></a></p>
                        </div>
                      </div>
                    </div>
                    <div class="notificationTime">6 June 2022</div>
                  </div>
                  <div class="notification">
                    <div class="notificationMain">
                      <div class="notificationIcon"><img src="./img/notification-info.png" alt></div>
                      <div class="notificationContent">
                        <h6>Company news</h6>
                        <div>
                          <p><span class="notificationText">New services are available now. Some really long long text with button more at the end new services are available now. Some really long long text with button more at the end</span><a class="notificationBtn" href="#">more<span>less</span></a></p>
                        </div>
                      </div>
                    </div>
                    <div class="notificationTime">26 April 2022</div>
                  </div>
              </div>
            </div>
            <div class="pagination">
              <div class="paginationShow">
                <p>Show</p>
                  <div class="select select--normal select--dark">
                    <select class="select__input">
                      <option>10</option>
                      <option>20</option>
                      <option>30</option>
                    </select>
                  </div>
              </div>
              <div class="paginationContent"><a class="paginationArrow" href="#"><img src="./img/pagination-left.svg" alt></a><a class="paginationItem paginationItem_Active" href="#">1</a><a class="paginationItem" href="#">2</a><a class="paginationItem" href="#">3</a><a class="paginationItem" href="#">...</a><a class="paginationItem" href="#">8</a><a class="paginationItem" href="#">9</a><a class="paginationItem" href="#">10</a><a class="paginationArrow" href="#"><img src="./img/pagination-right.svg" alt></a></div>
            </div>
        </div>
      </div>
    </div>
    <script src="js/vendor.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>

src/blocks/notifications/notifications.pug
mixin notifications(data)
  .notifications&attributes(attributes)
    .notificationsHeader
      .notificationsHeaderItem Message
      .notificationsHeaderItem Date
    .notificationsContent
      +notification({
        icon: 'rocket',
        header: 'Special offer',
        dscr: 'Order 2 exchanges and get 1 free with all basic features',
        time: '23 minutes ago'
      }).notification_New
      +notification({
        icon: 'warning',
        header: 'A resent sign-in to your account from unknown device or browser',
        dscr: 'The system has detected that your account is logged in from an unused IP address. Account: albert@compx.com Device: Chrome V102.0.0.0 (Windows) Time: 2022-06-21 06:02:49(UTC) IP: 44.287.88.134 If this activity is not your own operation, please disable your account and contact us immediately.',
        time: '1 hour ago'
      }).notification_New
      +notification({
        icon: 'info',
        header: 'Company news',
        dscr: 'New services are available now',
        time: '18 hours ago'
      }).notification_New
      +notification({
        icon: 'check',
        header: 'Verification completed',
        dscr: 'All functions are available for you',
        time: '1 day ago'
      })
      +notification({
        icon: 'info',
        header: 'Company news',
        dscr: 'New services are available now',
        time: '3 days ago'
      })
      +notification({
        icon: 'info',
        header: 'Company news',
        dscr: 'New services are available now',
        time: '3 days ago'
      })
      +notification({
        icon: 'info',
        header: 'Company news',
        dscr: 'New services are available now',
        time: '3 days ago'
      })
      +notification({
        icon: 'info',
        header: 'Company news',
        dscr: 'New services are available now',
        time: '6 June 2022'
      })
      +notification({
        icon: 'info',
        header: 'Company news',
        dscr: 'New services are available now',
        time: '6 June 2022'
      })
      +notification({
        icon: 'info',
        header: 'Company news',
        dscr: 'New services are available now. Some really long long text with button more at the end new services are available now. Some really long long text with button more at the end',
        time: '26 April 2022'
      })
